﻿@model SMaster.Models.Sprints.SprintPlan
@{
    ViewBag.Title = (Model.Id == 0 ? "New" : "Edit") + " Sprint Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.selectedType = ViewBag.Type;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Sprint Plan</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<style>
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 0px 0;
        border-radius: 4px;
    }

    input:not(.full-width), select:not(.full-width), textarea:not(.full-width) {
        max-width: 100% !important;
    }
</style>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div><b>Error: </b>@Model.ErrorMessage</div>
    </div>
}

<div class="margin-bottom-5 margin-top-20">
    <a class="btn-info btn" href="@Url.Action("Index")"><i class="fa fa fa-backward"></i> Back to List</a>
</div>

<div class="card border-default mb-3">
    @using (Html.BeginForm("EditDetails", "SprintPlan"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.selectedType)
        @Html.HiddenFor(m => m.AbortSave)

        <div class="card-header"><strong>Sprint Details</strong></div>
        <div class="card-body">
            <div class="row holder">
                <div class="col-sm">
                    <label>Project </label>
                    @Html.DropDownListFor(m => m.ProjectId, new SelectList(LookupsHelper.GetProjects(), "Value", "Key"), "-select-", new { @class = "related" })
                </div>
                <div class="col-sm" id="Client-div">
                    @Html.DropDownListWithLabelFor(m => m.ClientId, new SelectList(
     GenericLookupHelper.GetDbItems<SMaster.Models.Setups.ProjectClient>(r => r.ProjectId == Model.ProjectId, r => new { Key = r.Name, Value = r.Id }, r => r.Name)
     , "Value", "Key"), new { @class = "related" }, "-select-")
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.StartDate, true)
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.EndDate, true)
                </div>
            </div>


            <div class="card border-secondary col-sm-12 no-padding pull-right margin-bottom-20">
                <div class="card-header"><strong>Activities</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="Assignement" class="table table-bordered table-striped">
                            <thead>
                                @if (ViewBag.Type == SMaster.Enums.ReportingType.ExtraActivity)
                                {
                                    <tr>
                                        <th>Description</th>
                                        <th style="display:none;">Start Date</th>
                                        <th style="display:none;"></th>
                                        <th>Activity Category</th>
                                        <th class="align-center no-wrap"># Assigned Users</th>
                                        <th class="align-center">Options</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>Planned Hours</th>
                                        <th>Activity Type</th>
                                        <th class="align-center no-wrap"># Assigned Users</th>
                                        <th class="align-center">Options</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Tasks)
                                {
                                    @Html.Partial("Partials/_PartialTasks", item)
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="button" value="Add Row" class="btn btn-info" onclick="addRow()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-footer bg-light">
            <input type="submit" value="Save Details" class="pull-right btn btn-primary" />
            <div class="clearfix"></div>
        </div>
    }
</div>

<div class="clearfix"></div>

<!-- Modal -->
<div class="modal fade" id="modal-users" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Assign Users</h4>
            </div>
            <div class="modal-body">
                <div class="margin-bottom-20">
                    <label>Task Description:</label>
                    <div id="modal-description"></div>
                </div>
                <div class="table-responsive user-container">
                    <div class="user-item">
                        <input type="checkbox" onchange="controlSelectAll(this)" class="pull-left" name="Selected" />
                        <span class="pull-left">
                            <b>Select All</b>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="user-items">
                        @foreach (var user in LookupsHelper.GetApplicationUsers())
                        {
                            <div class="user-item" user-id="@user.Id">
                                <input type="checkbox" class="pull-left" name="Selected" value="@user.Id" />
                                <span class="pull-left">
                                    @string.Format("{0} {1} {2} ({3})", user.FirstName, user.LastName
                                                    , user.OtherName, user.Initials)
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveAssignees()" data-dismiss="modal">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{

    <script type="text/javascript">
    $(function () {
        autocompleteCombo.initialize("ProjectId", null, true);
            helper.controls.confirmFormSubmission("Id");
            displayCombo();
        });

        var ReportType = @Html.Raw(Json.Encode(@ViewBag.Type));

        $("select[name$='ProjectId']").change(function () {
            helper.lookups.loadCombo(this, "@Url.Action("GetClients")", { ProjectId: $(this).val() }, true, "div.holder", displayCombo);
        });

        function displayCombo() {
            var ConboLength = document.getElementById("ClientId").length;
            if (ConboLength <= 1) {
                $("#Client-div").hide();
            } else {
                $("#Client-div").show();
            }
        }

        function addRow() {
            showBusyDiv();
            $.post("@Url.Action("PartialTasks")", { selectedType : ReportType }, function (response) {
                hideBusyDiv();
                $("#Assignement>tbody").append(response);
                helper.controls.formatControls(true);
            }).error(helper.errorHandler);
        }
    </script>

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-sprint";
        var callingRow = null;
        var userItemsSelector = ".user-items";
        var popup = null;
        var userBoxSelector = "td:nth-of-type(5)";

        $(function () {
            popup = $("#modal-users");
        });

        function controlSelectAll(caller) {
            var selectAll = $(caller).closest("div").find("input:checked").length > 0;

            if (selectAll) {
                $(userItemsSelector).find("input:not(:checked)").click();
            }
            else {
                clearCheckboxes($(userItemsSelector));
            }
        }

        function clearCheckboxes(parentSelector) {
            parentSelector.find("input:checked").removeAttr("checked");
        }

        function selectAssignees(caller) {
            callingRow = $(caller).closest("tr");
            popup.find("#modal-description").text(callingRow.find("input[name$='Description']").val());

            clearCheckboxes(popup.find(".modal-body"));

            callingRow.find(userBoxSelector).find("input").each(function (i, d) {
                popup.find("input[value='" + $(d).val() + "']").click();
            });

            popup.modal("show");
        }

        function saveAssignees() {
            var result = "<div>"
                + $(userItemsSelector).find("input:checked").length
                + "</div>";


            $(userItemsSelector).find("input:checked").each(function (i, d) {
                result += "<div class='watched-collection' collection-name='Tasks.Assignees'>";
                result += "<input type='hidden' name='UserId' id='UserId' value='" + $(d).val() + "'/>";
                result += "</div>";
            });


            callingRow.find(userBoxSelector).html(result);

            helper.controls.formatControls();
        }
    </script>
}