﻿@model SMaster.ViewModels.SprintsListModel
@{
    ViewBag.Title = "Sprint List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

@if (User.IsInRole(SMasterUserManager.PROJECT_MANAGER) || User.IsInRole(SMasterUserManager.SuperRole))
{
    <div style="margin-bottom:5px">
        <a class="btn btn-success btn-create" href="@Url.Action("EditDetails", "SprintPlan")"><i class="fa fa-plus-square"></i> New Sprint</a>
    </div>
}

<div class="card border-default col-sm-12 no-padding margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("Index", "SprintPlan", FormMethod.Get))
            {
            <div class="row">
                <div class="col-sm">
                    @Html.DropDownListWithLabelFor(m => m.ProjectId, new SelectList(LookupsHelper.GetProjects(), "Value", "Key"), new { @class = "full-width" }, "-select-")
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(model => model.StartDate, true)
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(model => model.EndDate, true)
                </div>
                <div class="col-sm margin-top-20">
                    @Html.SubmitButton("Search", "margin-right-5")
                    @Html.ActionLink("Clear", "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>
                <div class="clearfix"></div>
        }
    </div>
</div>

<div class="clearfix"></div>
@if (Model.Sprints != null)
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#.</th>
                    <th>Project Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="align-center">Status</th>
                    <th class="align-center">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Sprint in Model.Sprints)
                {
                    <tr>
                        <td>@(RowCount++).</td>
                        <td>@Sprint.Project</td>
                        <td>@Sprint.StartDate.Value.ToString("dd -MMM -yyyy")</td>
                        <td>@Sprint.EndDate.Value.ToString("dd -MMM -yyyy")</td>
                        <td class="align-center">
                            <b>
                                @Html.Raw(Sprint.IsPending ? "<span style='color:crimson'>Pending</span>"
                                : "<span style='color:green'>Completed</span>")
                            </b>
                        </td>
                        <td class="align-center">
                            @if (User.IsInRole(SMasterUserManager.SuperRole))
                            {
                                @Html.ActionLink("Edit Details", "EditDetails", new { Id = Sprint.Id })
                                @( " | " )
                            }
                            else if (User.IsInRole(SMasterUserManager.PROJECT_MANAGER))
                            {
                                if (Sprint.PMUsername == User.Identity.Name)
                                {
                                    @Html.ActionLink("Edit Details", "EditDetails", new { Id = Sprint.Id })
                                    @( " | " )
                                }
                            }

                            @Html.ActionLink("View Details", "ViewDetails", new { Id = Sprint.Id })
                            @if (User.IsInRole(SMasterUserManager.SuperRole))
                            {
                                @( " | " )
                                <a href="@Url.Action("Delete", new { Id = Sprint.Id })" onclick="return confirm('Do you confirm deleting sprint no. @(RowCount-1)?')">
                                    <i class="fa fa-remove text-crimson"></i> Delete
                                </a>
                            }
                            else if (User.IsInRole(SMasterUserManager.PROJECT_MANAGER))
                            {
                                if (Sprint.PMUsername == User.Identity.Name)
                                {
                                    @( " | " )
                                    <a href="@Url.Action("Delete", new { Id = Sprint.Id })" onclick="return confirm('Do you confirm deleting sprint no. @(RowCount-1)?')">
                                        <i class="fa fa-remove text-crimson"></i> Delete
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div>
        @Html.PagedListPager(Model.Sprints, page => Url.Action("Index", Model.GetRouteValues(page)))
    </div>
}


@section Scripts{

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-sprint";
        autocompleteCombo.initialize("ProjectId", null,true);
        var targetForm = null;
    </script>

}