﻿@model SMaster.Models.Sprints.SprintPlan
@{
    ViewBag.Title = "Sprint Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .data-status-Pending {
        color: crimson;
    }

    .data-status-Done {
        color: green;
    }

    .data-status-Ongoing {
        color: dodgerblue;
    }
</style>

<div class="col-sm-8 no-padding" style="margin-bottom:5px">
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back to Sprint List</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-12 no-padding">
    <div class="card border-default no-padding" style="margin-bottom:10px">
        <div class="card-header">
            <strong>Sprint Details</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-header-fixed">
                <tr>
                    <th>Project Name</th>
                    <td>@(Model.StartDate?.ToString("dd - MMMM - yyyy"))</td>
                </tr>
                <tr>
                    <th>Start Date</th>
                    <td>@(Model.StartDate?.ToString("dd - MMMM - yyyy"))</td>
                </tr>
                <tr>
                    <th>End Date</th>
                    <td>@(Model.EndDate?.ToString("dd - MMMM - yyyy"))</td>
                </tr>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="card border-default">
        <div class="card-header collapsed" title="Click to expand/collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse-products">
            <strong>
                Sprint Activities
            </strong>
        </div>
        <div class="card-body collapse" id="collapse-products">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="items-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Description</th>
                            <th class="align-center">Estimated Hours</th>
                            <th class="align-center">No. Of People Assigned To</th>
                            <th class="align-center">Target Date</th>
                            <th class="align-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var itemNo = 1;
                            foreach (var item in Model.Tasks.OrderBy(r => r.StartDate.Value))
                            {
                                <tr>
                                    <td>@(itemNo++).</td>
                                    <td>@item.Description</td>
                                    <td align="center">@item.PlannedHours</td>
                                    <td align="center">@item.Assignees.Count()</td>
                                    <td align="center">@(item.StartDate?.ToString("dd -MMMM -yyyy"))</td>
                                    <td align="center" class="data-status-@item.Status">@item.Status</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            helper.controls.MENU_ID_TO_ACTIVATE = "menu-sprint";
        });
    </script>
}

