﻿@model SMaster.ViewModels.Users.NewUserViewModel
@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 margin-bottom-10">
    <a class="btn-info btn" href="@Url.Action("Index")"><i class="fa fa fa-backward"></i> Back to List</a>
</div>

@using (Html.BeginForm())
{
    <div class="card border-default margin-top-20">
        <div class="card-header">
            <strong>New User Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.FirstName)
                    @Html.TextBoxWithLabelFor(m => m.LastName)
                    @Html.TextBoxWithLabelFor(m => m.OtherName)
                    @Html.TextBoxWithLabelFor(m => m.Email)
                    @Html.TextBoxWithLabelFor(m => m.Phone)
                    <div style="border:1px solid #ccc; text-align:center; border-radius:3px; background-color:#ccc" class="col-sm-5">
                        <label><b>Is User Active</b></label><br />
                        @Html.CheckBoxFor(m => m.IsActive)
                    </div>
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Initials)
                    @Html.TextBoxWithLabelFor(m => m.ProgramingLanguage)
                    @Html.TextBoxWithLabelFor(m => m.DailyRate)
                    @Html.TextBoxWithLabelFor(m => m.UserName)
                    @Html.PasswordWithLabelFor(m => m.Password)
                    @Html.DropDownListWithLabelFor(m => m.UserRole, new SelectList(LookupsHelper.GetAdministratorRoles(), "Value", "Key"), null, "-select-")
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="pull-right btn btn-primary" value="Save Changes" />
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
}


@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "link-users";

    </script>
}