﻿@model SMaster.ViewModels.Users.EditUserViewModel

@{
    ViewBag.Title = "Edit User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SuccessMode = Convert.ToInt32(Request["Success"] ?? "0");
}
<style>
    input,
    select,
    textarea {
        max-width: inherit;
    }
</style>

<h3>@ViewBag.Title</h3>

<div class="margin-bottom-20">
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back to List</a>
</div>

@switch (SuccessMode)
{
    case 1:
        @Html.SuccessMessageFor("Updated User Details.")
        break;
    case 2:
        @Html.SuccessMessageFor("Reset User Password")
        break;
}

@using (Html.BeginForm())
{
    <div class="card border-default col-sm-12 no-padding margin-right-20 margin-bottom-20">
        <div class="card-header">
            <strong>User Details</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxWithLabelFor(m => m.UserName)
                </div>
                <div class="col-sm">
                    @Html.DropDownListWithLabelFor(m => m.UserRole, new SelectList(LookupsHelper.GetAdministratorRoles(), "Value", "Key"), null, "-select-")
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.FirstName, new { @maxlength = "100" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.LastName, new { @maxlength = "100" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.OtherName, new { @maxlength = "100" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Initials, new { @maxlength = "100" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Email, new { @maxlength = "255" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Phone, new { @maxlength = "100" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.DailyRate)
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div style="border:1px solid #ccc; text-align:center; border-radius:3px; background-color:#ccc" class="col-sm-3">
                        <label><b>Check if the is still active</b></label><br />
                        @Html.CheckBoxFor(m => m.IsActive)
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card-footer">
            <input type="button" value="Save Changes" class="btn btn-primary pull-right" onclick="updateUserDetails(this)" />
            <div class="clearfix"></div>
        </div>
    </div>
}

<div class="card border-default">
    <div class="card-header">
        <strong>Reset Password</strong>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
            {
            @Html.HiddenFor(m => m.Id)
            @Html.PasswordWithLabel("New Password", "NewPassword", new { @maxlength = "30" })
            <div>
                <input type="button" value="Change Password" class="btn btn-success pull-right" onclick="resetPassword(this)" />
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

<div class="clearfix"></div>
<form action="@Url.Action("Details", new { Id=Model.Id})" id="form-success">
    <input type="hidden" id="hdnSuccessMode" name="Success" value="1" />
</form>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-users";

        $(function () {
            $("#FirstName").closest("form").submit(function () {
                return false;
            });
        });

        function updateUserDetails(caller) {
            var form = $(caller).closest("form");

            if (!form.valid()) {
                alert("Please fill all required fields!");
                return;
            }

            if (!confirm("Do you confirm updating the user's details?")) {
                return;
            }

            var formValues = form.serialize();

            $(caller).attr("disabled", "disabled");

            $.post("@Url.Action("UpdateDetails")", formValues, function (response) {
                if (!response.Success) {
                    $(caller).removeAttr("disabled");
                    alert(response.ErrorMessage);
                }
                else {
                    $("#hdnSuccessMode").val(1);
                    $("#form-success").submit();
                }

            }).error(function (error) {
                $(caller).removeAttr("disabled");
            });
        }

        function resetPassword(caller) {
            var form = $(caller).closest("form");

            if (form.find("#NewPassword").val().length == 0) {
                alert("Please provide a new password!");
                form.find("#NewPassword").focus();
                return;
            }

            if (!confirm("Do you confirm reseting the user's password?")) {
                return;
            }

            var formValues = form.serialize();

            $(caller).attr("disabled", "disabled");

            $.post("@Url.Action("ResetPassword")", formValues, function (response) {
                if (!response.Success) {
                    $(caller).removeAttr("disabled");
                    alert(response.ErrorMessage);
                }
                else {
                    $("#hdnSuccessMode").val(2);
                    $("#form-success").submit();
                }

            }).error(function (error) {
                $(caller).removeAttr("disabled");
            });
        }
    </script>
}