﻿@model SMaster.ViewModels.Users.UsersListViewModel
@{
    ViewBag.Title = "List Of Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemNo = Html.GetPagedListStartItemNo(Model.Users);
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-bank"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-users"></i> User Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<h3></h3>
<div class="pull-left margin-bottom-10">
    <a class="btn-info btn btn-create" href="@Url.Action("Create")" title="Add New Appraisal Form">
        <i class="fa fa-plus-square has-tooltip"></i><span> New User Details</span>
    </a>
</div>

<div class="clearfix"></div>
<div class="card col-sm-12 no-padding filter-panel margin-top-20 margin-bottom-20">
    <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <b>System User List </b>  <strong class="float-right"><i class="fa fa-filter"></i> Filters</strong>
    </div>
    <div id="collapseOne" class="holder panel-collapse collapse out">
        <div class="card-body">
            @using (Html.BeginForm("Index", "Users", FormMethod.Get))
            {
            <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownListWithLabelFor(m => m.UserId, new SelectList(LookupsHelper.GetUsers(), "Value", "Key"), new { @class = "validate-required" }, "-Select-")
                </div>
                <div class="col-sm-3">
                    @Html.TextBoxWithLabelFor(m => m.SearchTerm, new { @maxlength = "50", @placeholder = "Search...", @class = "" })
                </div>
                <div class="col-sm-3" style="border:1px solid #c69d16; border-radius:3px; background-color:#e1dd8f;height: 35px;margin-top: 15px;">
                    <div style="margin-top:8px">
                        <label><b>View Active Users Only </b></label>
                        @Html.CheckBoxFor(m => m.IsActive)
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>&nbsp;</label><br />
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
                <div class="clearfix"></div>
            </div>
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="table-responsive col-sm-12 no-padding">
    <table class="table table-bordered table-striped table-extension-vertical-align-middle">
        <thead>
            <tr>
                <th>No.</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Programing Language</th>
                <th>Initials</th>
                <th>User Role</th>
                <th class="align-center">Is Active</th>
                <th class="align-center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@(itemNo++).</td>
                    <td>@item.UserName</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.ProgramingLanguage</td>
                    <td>@item.Initials</td>
                    <td>@item.Role</td>
                    <td class="align-center">@Html.Raw(item.IsActive? "<span style='color:green'>Yes</span>" : "<span style='color:red'>No</span>")</td>
                    <td class="align-center">
                        @Html.ActionLink("Edit Details", "Details", new { Id = item.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model.Users, page => Url.Action("Index", Model.GetRouteValues(page)))
</div>

@section scripts{

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-users";
        var targetForm = null;

        $(function () {
            autocompleteCombo.initialize("UserId");
        });

        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
    </script>
}
