﻿@model SMaster.ViewModels.Reports.BillableHoursViewModel
@{ 
    var ItemNo = 1;
}
<div class="table-responsive">
    <table class="table table-striped table-bordered"  @Html.Raw(Model.Export.HasValue?"border='1'":"")>
        <thead>
            <tr>
                <th style="text-align:right;">No.</th>
                <th>
                    Date
                </th>
                <th>
                    Name
                </th>
                <th style="white-space:nowrap">
                    Chargeable Hours
                </th>
                <th>
                    Activity
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.BillableHours.Where(r=>r.Hours > 0))
            {
                <tr>
                    <td>@(ItemNo++)</td>
                    <td>@(item.ProjectDate.ToLongDateString())</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>

                    <td>@Html.DisplayFor(modelItem => item.Hours)</td>

                    <td>
                        @foreach (var ActivityName in item.ActivityField.Where(r=>r.Hours > 0))
                        {
                            <span><strong> @ActivityName.ProjectName : </strong></span>
                            <span>  @ActivityName.Activity </span>
                            <span>( @ActivityName.Hours hrs)</span>
                            <br />
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
