﻿@model SMaster.ViewModels.Reports.BillableHoursViewModel
@{
    var ItemNo = 1;
}
<div class="table-responsive">
    <table class="table table-striped table-bordered" @Html.Raw(Model.Export.HasValue ? "border='1'" : "")>
        <thead>
            <tr>
                <th style="text-align:right;">No.</th>
                <th class="no-wrap">
                    Employee Name
                </th>
                @foreach (var project in Model.Projects)
                {
                    <th class="no-wrap">
                        @project.Name
                    </th>
                }
            </tr>
        </thead>
        <tbody>            
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@(ItemNo++)</td>
                        <td class="no-wrap">@(user.FirstName + " " + user.LastName +" " + user.OtherName)</td>
                        @foreach (var item in Model.Projects)
                        {
                            var History = Model.Histories.Where(r => r.Assignee.UserId == user.Id && r.Assignee.SprintTask.SprintPlan.ProjectId == item.Id).ToList();
                            <td class="align-right">@History.Sum(r=>r.ActualHours)</td>
                        }
                    </tr>
                }
        </tbody>
    </table>
</div>
