﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@if (Model.Export)
{
    <h3 class="col-sm-10">Timesheet for @(System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(Model.Month) + " - " + Model.Year) For @Model.FrequencyReports.FirstOrDefault().UserName </h3> ;
}
@*@foreach (var item in Model.FrequencyReports)
    {
        <th class="no-wrap align-center">
            @item.UserName
        </th>
    }*@
<table class="table table-striped table-bordered table-header-fixed" @Html.Raw(Model.Export ? "border='1'" : "")>
    <thead>
        <tr class="bg-light">
            <th>Date</th>
            <th class="align-center">Day</th>
            <th class="align-center">Hours worked</th>
            <th>Activities/Remarks</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= System.DateTime.DaysInMonth(Model.Year, Model.Month); i++)
        {
            var newDate = new DateTime(Model.Year, Model.Month, i);
            if (newDate.DayOfWeek == DayOfWeek.Saturday || newDate.DayOfWeek == DayOfWeek.Sunday)
            {
                <tr class="no-wrap" style="background-color:#f7e6c3">
                    <th>
                        @(newDate.ToString("dd  MMMM  yyyy"))
                    </th>
                    <th class="align-center">
                        @(newDate.ToString("ddd"))
                    </th>
                    @foreach (var item in Model.FrequencyReports)
                    {
                        <th class="align-center">
                            @item.Items.Where(r => r.Day == newDate).Sum(r => r.HoursWorked).FormatForDisplay()
                        </th>
                        <td>
                            @foreach (var task in item.Items.Where(r => r.Day == newDate))
                            {
                                @Html.Raw(task.TaskName)
                            }
                        </td>
                    }
                </tr>
            }
            else
            {
                <tr class="no-wrap">
                    <td>
                        @(newDate.ToString("dd  MMMM  yyyy"))
                    </td>
                    <td class="align-center">
                        @(newDate.ToString("ddd"))
                    </td>
                    @foreach (var item in Model.FrequencyReports)
                    {
                        <td class="align-center">
                            @item.Items.Where(r => r.Day == newDate).Sum(r => r.HoursWorked).FormatForDisplay()
                        </td>
                        <td>
                            @foreach (var task in item.Items.Where(r => r.Day == newDate))
                            {
                                @Html.Raw(task.TaskName)
                            }
                        </td>
                    }
                </tr>
            }
        }
        <tr class="bg-success">
            <th class="no-wrap">Total Hours Worked</th>
            <th></th>
            @foreach (var item in Model.FrequencyReports)
            {
                <th class="align-center text-white">
                    @item.Items.Sum(r => r.HoursWorked).FormatForDisplay()
                </th>
            }
            <th></th>
        </tr>
    </tbody>
</table>

