﻿@model SMaster.ViewModels.Dashboard.ProjectAnalysisListModel

@{
    var ItemNo = 1;
}
<div class="col-sm-12 no-padding">
    <div class="panel panel-default col-sm-12 margin-top-20 no-padding filter-panel">
        <div class="panel-heading">
            <strong>Personal Invoice Header</strong>
            <i class="fa-pull-right fa fa-filter"></i>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <strong>To:</strong><br />
                @Model.Details.Recipient <br />
                <div class="col-sm-7 no-padding">
                    @Model.Details.RecipientCompanyAddress<br />
                </div>
            </div>
            <div class="col-sm-6">
                <strong>From:</strong><br />
                @Model.Details.EmployeeName<br />
                <div class="col-sm-7 no-padding">
                    @Model.Details.EmpCompanyAddress<br />
                </div>
            </div>
        </div>
        <div style="padding:10px; padding-left:30px" class="col-sm-6 no-padding">
            <strong>For the attention of : </strong> @Model.Details.AttentionTo <br />
            <strong>Date : </strong> @DateTime.Today.ToString("dddd,  dd MMMM yyyy")
        </div>
        <div style="padding:10px;" class="col-sm-6 no-padding">
            <strong class="alert-warning">Invoice Covering the Period :  @Model.StartDate.FormatForDisplay() - @Model.EndDate.FormatForDisplay() </strong><br />
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-11 margin-top-20" style="margin-left:15px">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Project Name</th>
                        <th style="text-align:right;">Hours Worked</th>
                        <th style="text-align:right;">Rate Per Hour</th>
                        <th style="text-align:right;">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details.Items)
                    {
                        <tr>
                            <td>@(ItemNo++)</td>
                            <td>@(item.ProjectName)</td>
                            <td align="right">@item.Hours</td>
                            <td align="right">@(item.RatePerHour?.FormatForDisplay())</td>
                            <td align="right"><strong> @((item.Hours * item.RatePerHour)?.FormatForDisplay())</strong></td>

                        </tr>
                    }
                    <tr>
                        <td colspan="4"><span style="font-size:11pt; font-weight:bold">Total Amount </span></td>
                        <td align="right"><span style="color:maroon; font-size:13pt; font-weight:bold">@(Model.Details.Items.Sum(r => r.Hours * r.RatePerHour)?.FormatForDisplay())</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
