﻿@model SMaster.ViewModels.Reports.BillableHoursViewModel

@{
    ViewBag.Title = "Chargeable Hours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-bank"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-table"></i> Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="clearfix"></div>

<div class="card border-default col-sm-12 margin-top-20 margin-bottom-20 no-padding filter-panel">
    <div class="card-body">
        @using (Html.BeginForm("Index", "ChargeableHours"))
        {
            <div class="row">
                <div class="col-sm">
                    <div><label><b>Staff</b></label></div>
                    @Html.DropDownListFor(m => m.UserId, new SelectList(LookupsHelper.GetUserDetails(), "Value", "Key"), "-select-", new { @class = "related" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.SearchTerm, new { @placeholder = "Search...", @maxlength = "30" })
                </div>
                <div class="col-sm">
                    <div><label><b>Start Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.StartDate)
                </div>
                <div class="col-sm">
                    <div><label><b>End Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.EndDate)
                </div>
                <div class="col-sm">
                    <div style="padding-top:20px">
                        @Html.SubmitButton("Search", "pull-left margin-right-5")
                        @Html.ActionLink("Reset Filters", "Index", null, new { @class = "btn btn-info pull-left" })
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>

<div style="margin-bottom: 10px;">
    <a class="btn btn-info" href="@Url.Action("Index", Model.GetRouteValues(1, SMaster.Enums.ExportMode.EXCEL))" target="_blank">
        <i class="fa fa-file-excel-o"></i> Export To Excel
    </a>
    @("|")
    <a href="@Url.Action("Index","ProjectResourceAnalysis", new { Model.StartDate, Model.EndDate, Model.UserId })" class="btn btn-warning"><i class="fa fa-money"></i> Generate Invoice </a>
    @("|")
    <a href="@Url.Action("PersonalInvoice","ProjectResourceAnalysis", new { Model.StartDate, Model.EndDate, Model.UserId })" class="btn btn-secondary"><i class="fa fa-clock-o"></i> View TimeSheets </a>
</div>

@Html.Partial("Partials/_partialChargeableHours", Model)

@section scripts{
    <script type="text/javascript">
        autocompleteCombo.initialize("UserId");
    </script>
}