﻿<div id="currentProductAndSprint" class="col-sm-6 pull-right no-padding" style="top: -230%; margin-left: 7%;">
        <div class="col-sm-6 fa-border margin-right-5">
            <div><span class="fa-adjust"></span><b>Selected Project: </b>
                @Html.Action("CurrentReadOnly", "Product")
            </div>
        </div>
        <div class="col-sm-5 fa-border ">
            <div><b>Selected Sprint:</b>
                @Html.Action("CurrentReadOnly", "Sprint")
            </div>
        </div>
    </div>
<div class="clearfix"></div>