﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    string CurrentMonthName = mfi.GetMonthName(DateTime.Now.Month).ToString();
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<button type="button" class="btn btn-warning margin-bottom-5" style="border-radius:1px">
    Last Reported :  <b style="color:#4177b4"><i>@(Model.LastReportDate?.ToString("ddd, dd MMM yyyy"))</i></b>
</button>

<div class="row">
    <div class="col-sm">
        <div class="card border-primary">
            <div class="card-header"><strong>Level of effort for the month of : <span style="color:crimson">  @CurrentMonthName</span></strong></div>
            <div class="card-body">
                <div style="height:300px" id="efforts-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card border-primary">
            <div class="card-header"><strong>Top 5 project of the month of : <span style="color:crimson"> @CurrentMonthName</span></strong></div>
            <div class="card-body text-primary">
                <div style="height:300px" id="container"></div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>
@section scripts{
    <script src="@Url.Content("~/Scripts/SMaster/highcharts.js")"></script>
    <script src="@Url.Content("~/Scripts/SMaster/exporting.js")"></script>
    <script src="@Url.Content("~/Scripts/SMaster/highcharts-3d.js")"></script>

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-home";
        $(function () {
            loadRepportingEffort();
            loadTopProject();
        });
    </script>
    <script type="text/javascript">
        function loadRepportingEffort() {

            $.get("@Url.Action("LevelOfEffort","Home")", {},
               function (response) {
                   processEffortData(response);
               });
        }

        function processEffortData(data) {
            var chartData = [];

            $(data).each(function (i, d) {
                chartData.push({ name: d.UserName, y: d.PercentageWorked });
            });
            console.log(chartData);
            $('#efforts-chart').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Percentage',
                    data: chartData
                }]
            });
        }
    </script>

    <script type="text/javascript">
    function loadTopProject() {

        $.get("@Url.Action("TopProject", "Home")", {},
    function (response) {
        processTopProjectData(response);
    });
    }

    function processTopProjectData(data) {
        var chartData = [];
        var chartCategory = [];

        $(data).each(function (i, d) {
            chartData.push({ name: d.ProjectName, y: d.ActualHours });
        });

    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: chartCategory,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">Hours Reported: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} hrs</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 1
            }
        },
        series: [{
            name: 'Project Name',
            data: chartData

        }]
    });
};
    </script>
}