﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Completion Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<div class="clearfix"></div>

<div class="table-responsive col-sm-5 no-padding margin-right-20 margin-top-20">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <td class="warning align-center" colspan="6">@ViewBag.Title</td>
            </tr>
            <tr>
                <th>No.</th>
                <th>Project Name</th>
                <th class="align-center">Total</th>
                <th class="align-center">Done</th>
                <th class="align-center">Not Done</th>
                <th class="align-center">Ongoing</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TaskCompletionRate)
            {
            <tr>
                <td>@(RowCount++).</td>
                @Html.Partial("Partials/_PartialCompletionRate", item)
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive col-sm-5 no-padding margin-top-20">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <th>Project Name</th>
                <th class="info align-center">Total</th>
                <th class="info align-center">Done</th>
                <th class="info align-center">Not Done</th>
                <th class="info align-center">Ongoing</th>
            </tr>
            <tr>
                @foreach (var Day in Model.DailyCompletions)
                {
                    <th class="warning" colspan="6">@Day.DayOfWeek</th>
                    
                    foreach (var item in Day.Details)
                    {
                    <tr>
                        @Html.Partial("Partials/_PartialCompletionRate", item)
                    </tr>
                    }
                }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="clearfix"></div>

    @section scripts{
        <script type="text/javascript">
            $(function () {
                $("#menu-transfers").addClass("active");
            });
        </script>
    }
