﻿@model SMaster.ViewModels.Dashboard.DashboardListModel
@{
    ViewBag.Title = "Level Of Effort Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-info pull-left" href="@Url.Action("LevelOfEffortDetails", Model.GetRouteValues(1, Model.StartDate, Model.EndDate, Model.UserId, true))" target="_blank">
    <i class="fa fa-file-excel-o"></i> Export To Excel
</a>
<div class="clearfix"></div>
<div class="panel-body table-responsive no-padding margin-top-20">
    @Html.Partial("Partials/_PartialTasks", Model)
</div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-mne-setup";
        var targetForm = null;

        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

    </script>
}

