﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Completion Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<div class="clearfix"></div>
<div class="panel panel-default col-sm-7 margin-top-20 no-padding filter-panel">
    <div class="panel-heading">
        <strong>Filters</strong>
        <i class="fa-pull-right fa fa-filter"></i>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ProjectPerUserCost", "Dashboard"))
        {
            @Html.HiddenField("Success", "0")
            <div class="col-sm-5 pull-left margin-right-5 no-padding">
                <div><label>Start Date</label></div>
                @Html.DatePickerWithoutLabelFor(m => m.StartDate)
            </div>
            <div class="col-sm-6 pull-left no-padding">
                <div><label>End Date</label></div>
                @Html.DatePickerWithoutLabelFor(m => m.EndDate)
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>

<div class="table-responsive col-sm-7 no-padding margin-right-20">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <td class="warning align-center" colspan="6">@ViewBag.Title</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProjectWithHour)
            {
                <tr>
                    <th colspan="3" class="success">@item.ProjectName</th>
                </tr>
                <tr>
                    <th>Staff Name</th>
                    <th>Planned Hours</th>
                    <th>Actual Hours</th>
                </tr>
                foreach(var Users in Model.ProjectWithHour.Where(r=>r.ProjectName == item.ProjectName))
                {
                    <tr>
                        <td>@Users.UserName</td>
                        <td>@Users.PlannedHours</td>
                        <td>@Users.ActualHours</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="clearfix"></div>
@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-mne-setup";
        var targetForm = null;

        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select input").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
    </script>
}
