﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Completion Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<h3>@ViewBag.Title</h3>
<div class="card border-default col-sm-12 margin-top-20 margin-bottom-20 no-padding filter-panel">
    <div class="card-body">
        @using (Html.BeginForm("ProjectCost", "Dashboard"))
        {
            @Html.HiddenField("Success", "0")
            <div class="row">
                <div class="col-sm">
                    <div><label><b>Start Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.StartDate)
                </div>
                <div class="col-sm">
                    <div><label><b>End Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.EndDate)
                </div>
                <div class="col-sm">
                    <div style="padding-top:20px">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="clearfix"></div>

<div class="card border-default">
    <div class="table-responsive col-sm-12 no-padding margin-right-20">
        <table id="data-table" class="table table-bordered table-header-fixed">
            <thead>
                <tr>
                    <th class="warning align-center" colspan="6">@ViewBag.Title</th>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="2" class="align-center">Project Management</th>
                    <th colspan="2" class="align-center">Development/QA</th>
                </tr>
                <tr>
                    <th>No.</th>
                    <th>Project Name</th>
                    <th class="info align-center">Planned Hours</th>
                    <th class="info align-center">Actual Hours</th>
                    <th class="info align-center">Planned Hours</th>
                    <th class="info align-center">Actual Hours</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProjectCost)
            {
                    <tr>
                        <td>@(RowCount++).</td>
                        @Html.Partial("Partials/_PartialProjectCosting", item)
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>
@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-mne-setup";
        var targetForm = null;

        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select input").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
    </script>
}
