﻿@model SMaster.ViewModels.Dashboard.DashboardListModel
@{
    ViewBag.Title = "User Hours Spent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<h3>@ViewBag.Title</h3>

<div class="panel panel-default col-sm-8 no-padding" id="accordion">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Click to collapse/expand filters">
        <strong><i class="fa fa-filter"></i> Filters</strong>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            @using (Html.BeginForm("StaffHours", "Dashboard"))
            {
                @Html.HiddenField("Success", "0")
                <div class="col-sm-4 pull-left margin-right-5">
                    <div><label>Start Date</label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.StartDate)
                </div>
                <div class="col-sm-4 pull-left">
                    <div><label>End Date</label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.EndDate)
                </div>
                <div class="col-sm-3 margin-top-20">
                    @Html.SubmitButton("Search", "pull-left margin-right-5")
                    @Html.ActionLink("Clear", "StaffHours", null, new { @class = "btn btn-info pull-left" })
                </div>
                <div class="clearfix"></div>
            }
           </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="margin-bottom-10">
        <a class="btn btn-info" href="@Url.Action("StaffHours", Model.GetRouteValues(1, true))" target="_blank">
            <i class="fa fa-file-excel-o"></i> Export To Excel
        </a>
    </div>
    <div class="table-responsive col-sm-8 no-padding" style="margin-top:10px">
        @Html.Partial("Partials/_PartialUsersHours", Model)
    </div>

    <div class="clearfix"></div>
    @section scripts{
        <script type="text/javascript">
            helper.controls.MENU_ID_TO_ACTIVATE = "menu-mne-setup";
        </script>
    }
