﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Completion Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<div class="clearfix"></div>

<div class="table-responsive col-sm-5 no-padding margin-right-20 margin-top-20">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <td class="warning align-center" colspan="6">@ViewBag.Title</td>
            </tr>
            <tr>
                <th>No.</th>
                <th>Project Name</th>
                <th class="info align-center">Planned Hours</th>
                <th class="info align-center">Actual Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProjectTiming)
            {
                <tr>
                    <td>@(RowCount++).</td>
                    @Html.Partial("Partials/_PartialTiming", item)
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive col-sm-5 no-padding margin-top-20">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <th>Project Name</th>
                <th class="info align-center">Planned Hours</th>
                <th class="info align-center">Actual Hours</th>
            </tr>
            <tr>
                @foreach (var Day in Model.DailyProjectTiming)
                {
                    <th class="warning" colspan="6">@Day.DayOfWeek</th>

                    foreach (var item in Day.Details)
                    {
                    <tr>
                        @Html.Partial("Partials/_PartialTiming", item)
                    </tr>
                    }
                }
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="clearfix"></div>

    @section scripts{
        <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-dashboard";
        var targetForm = null;

        $(function () {
            $(".filter-panel select").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
</script>
    }
