﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Unallocated Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<h3>@ViewBag.Title</h3>
<div class="card border-default col-sm-12 margin-top-20 margin-bottom-20 filter-panel no-padding">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(model => model.Date, true)
                </div>
                <div class="col-sm">
                    <div><label><b>Users</b></label></div>
                    @Html.DropDownListWithoutLabelFor(m => m.UserId, new SelectList(LookupsHelper.GetUsers(), "Value", "Key"), new { @class = "" }, "-Select-")
                </div>
                <div class="col-sm">
                    <div style="padding-top:20px">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="clearfix"></div>

<div class="card border-default">
    <div class="table-responsive col-sm-12 no-padding margin-right-20">
        <table id="data-table" class="table table-bordered table-header-fixed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UnallocatedUsers)
            {
                    <tr>
                        <td>@(RowCount++).</td>
                        <td>@item</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="clearfix"></div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-dashboard";
        var targetForm = null;

        $(function () {
            autocompleteCombo.initialize("UserId");
            $(".filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
    </script>
}
