﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    ViewBag.Title = "Team Members' Level Of Effort";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<div class="card border-default col-sm-10 no-padding margin-top-20 margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("UsersLOEf", "Dashboard"))
        {
            @Html.HiddenField("Success", "0")
            <div class="row">
                <div class="col-sm">
                    <div><label><b>Start Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.StartDate)
                </div>
                <div class="col-sm">
                    <div><label><b>End Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.EndDate)
                </div>
                <div class="col-sm">
                    <div style="padding-top:20px">
                        @Html.SubmitButton("Search Report", "pull-left margin-right-5")
                        @Html.ActionLink("Clear", "UsersLOEf", null, new { @class = "btn btn-info pull-left margin-right-5" })
                        <a class="btn btn-success pull-left" href="@Url.Action("SendReport", new { Model.StartDate, Model.EndDate })"><i class="fa fa-send-o"></i> Send Report</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="clearfix"></div>

@if (Model.Effort != null)
{
    <div class="margin-bottom-10">
        <a class="btn btn-info" href="@Url.Action("UsersLOEf", Model.GetRouteValues(1, Model.StartDate, Model.EndDate, Model.UserId, true))" target="_blank">
            <i class="fa fa-file-excel-o"></i> Export To Excel
        </a>
    </div>
    <div class="table-responsive col-sm-12 no-padding" style="margin-top:10px">
        @Html.Partial("Partials/_PartialLevelOfEffort", Model)
    </div>
}
<div class="clearfix"></div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-dashboard";
    </script>
}