﻿@model SMaster.ViewModels.Dashboard.DashboardListModel
@{
    ViewBag.Title = "Weekly Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input:not(.full-width), select:not(.full-width), textarea:not(.full-width) {
        max-width: 100%;
    }
</style>

<h3>@ViewBag.Title</h3>

<div class="card border-default col-sm-12 no-padding filter-panel">
    <div class="card-body">
        @using (Html.BeginForm("WeeklyReport", "Dashboard"))
        {
            @Html.HiddenField("Success", "0")
            <div class="row">
                <div class="col-sm">
                    <div><label><b>Project List</b></label></div>
                    @Html.DropDownListWithoutLabelFor(m => m.ProjectId, new SelectList(Model.Projects, "Id", "Name"), null, "-All-")
                </div>
                <div class="col-sm">
                    <div><label><b>Users</b></label></div>
                    @Html.DropDownListWithoutLabelFor(m => m.UserId, new SelectList(LookupsHelper.GetUsers(), "Value", "Key"), new { @class = "validate-required" }, "-Select-")
                </div>
                <div class="col-sm">
                    <div><label><b>Start Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.StartDate, true)
                </div>
                <div class="col-sm">
                    <div><label><b>End Date</b></label></div>
                    @Html.DatePickerWithoutLabelFor(m => m.EndDate, true)
                </div>
                <div class="col-sm">
                    <div style="padding-top:20px">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="clearfix"></div>

@if (Model.AllTasks.Count() > 0)
{
    <div class="margin-bottom-10">
        <a class="btn btn-info" href="@Url.Action("WeeklyReport","Dashboard", Model.GetRouteValues(1, Model.StartDate, Model.EndDate, Model.UserId, true))" target="_blank">
            <i class="fa fa-file-excel-o"></i> Export To Excel
        </a>
    </div>
    @Html.Partial("Partials/_PartialWeeklyReport", Model)
}

@section scripts{

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-mne-setup";
        $(function () {
            autocompleteCombo.initialize("UserId");
            autocompleteCombo.initialize("ProjectId");
        });

    </script>
}

