﻿@model SMaster.ViewModels.Dashboard.ProjectCostListModel

@{
    ViewBag.Title = "Project Cost Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table{
        margin-bottom:0px !important;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-bank"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-table"></i> Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<a class="btn btn-success margin-bottom-20" href="@Url.Action("Index", Model.GetRouteValues(1, true))" target="_blank">
    <i class="fa fa-file-excel-o"></i> Export To Excel
</a>
<div class="clearfix"></div>
<div class="card">
    <div class="card-header"><strong>@ViewBag.Title</strong></div>
    <div class="card-body table-responsive no-padding" style="padding:0px !important">
        @Html.Partial("Partials/_PartialExpenditure", Model)
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-dashboard";
        var targetForm = null;
    </script>
}

