﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

<div class="panel-body table-responsive col-sm-12 no-padding">
    <table class="table table-bordered table-striped table-header-fixed" @(Model.Export ? "border='1'" : "")>
            <thead>
                <tr>
                    <th class="align-center">Project</th>
                    <th style="width:40%">Task Description</th>
                    <th class="align-right">Hours</th>
                    <th class="align-center">Actual Hours</th>
                    <th class="align-center">Responsible</th>
                    <th class="align-center">Status</th>
                    <th class="align-center">Date Created</th>
                </tr>
            </thead>
            @foreach (var project in (Model.ProjectId.HasValue ? Model.Projects.Where(r => r.Id == Model.ProjectId) : Model.Projects))
            {
                var projectTasks = Model.AllTasks.Where(r => r.Assignee.SprintTask.SprintPlan.ProjectId == project.Id).ToList();

                if (projectTasks.Count == 0)
                {
                    continue;
                }
                <tbody>
                    <tr>
                        <td rowspan="@(1+projectTasks.Count)">@project.ShortName</td>
                    </tr>
                    @foreach (var myTasks in projectTasks)
                {
                        <tr id="task-@myTasks.Id">
                            <td>
                                @myTasks.Assignee.SprintTask.Description
                            </td>
                            <td class="align-center">
                                @myTasks.Assignee.SprintTask.PlannedHours
                            </td>
                            <td class="align-center">
                                @myTasks.ActualHours
                            </td>
                            <td class="align-center">
                                @myTasks.Assignee.User.Initials
                            </td>
                            <td class="align-center" task-state="@(myTasks.Status.ToString().ToLower())">
                                <span task-state="@myTasks.Status">@myTasks.Status</span>
                            </td>
                            <td class="align-center">
                                @(myTasks.Assignee.SprintTask.StartDate?.ToString("ddd, dd - MMM - yyyy") ?? "")
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
</div>
