﻿@model SMaster.ViewModels.Dashboard.DashboardListModel.ProjectCosting


    <td>@Model.ProjectName</td>
    <th class="align-center">@Model.PlannedHoursManagement</th>
    <td class="align-center">@Model.ActualHoursManagement</td>
    <th class="align-center">@Model.PlannedHoursDevelopment</th>
    <td class="align-center">@Model.ActualHoursDevelopment</td>
