﻿@model SMaster.ViewModels.Dashboard.DashboardListModel.GlobalProjectTime


    <td>@Model.ProjectName</td>
    <th class="align-center">@Model.PlannedHours</th>
    <td class="align-center">@Model.ActualHours</td>
