﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

<div class="card border-default col-sm-12 no-padding filter-panel">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                @Html.DisplayWithLabel("Staff Name", Model.UserName)
            </div>
            <div class="col-sm">
                @Html.DisplayWithLabel("Start Date", Model.StartDate.Value.ToString("dd - MMM - yyyy"))
            </div>
            <div class="col-sm">
                @Html.DisplayWithLabel("End Date", Model.EndDate.Value.ToString("dd - MMM - yyyy"))
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-striped table-bordered table-header-fixed" @Html.Raw(Model.Export ? "border='1'" : "")>
            <thead>
                <tr>
                    <th class="align-center">Project</th>
                    <th>Task Description</th>
                    <th class="align-right">Hours</th>
                    <th class="align-center">Actual Hours</th>
                    <th class="align-center">Status</th>
                    <th class="align-center">Date Created</th>
                </tr>
            </thead>
            @foreach (var project in (Model.ProjectId.HasValue ? Model.Projects.Where(r => r.Id == Model.ProjectId) : Model.Projects))
            {
                var projectTasks = Model.AllTasks.Where(r => r.Assignee.SprintTask.SprintPlan.ProjectId == project.Id).ToList();

                if (projectTasks.Count == 0)
                {
                    continue;
                }
                <tbody>
                    <tr>
                        <td rowspan="@(1+projectTasks.Count)">@project.ShortName</td>
                    </tr>
                    @foreach (var myTasks in projectTasks)
                {
                        <tr id="task-@myTasks.Id">
                            <td>
                                @myTasks.Assignee.SprintTask.Description
                            </td>
                            <td class="align-center">
                                @myTasks.Assignee.SprintTask.PlannedHours
                            </td>
                            <td class="align-center">
                                @myTasks.ActualHours
                            </td>
                            <td class="align-center" task-state="@(myTasks.Status.ToString().ToLower())">
                                <span task-state="@myTasks.Status">@myTasks.Status</span>
                            </td>
                            <td class="align-center">
                                @(myTasks.Assignee.SprintTask.StartDate?.ToString("ddd, dd - MMM - yyyy") ?? "")
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
