﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@{
    var itemNo = 1;
}

@if (Model.Export)
{
    <h3 class="col-sm-10">Hours Worked Per Staff Member</h3>
    <span>@string.Format("From {0:dd MMM yyyy}  to  {1:dd MMM yyyy}", Model.StartDate, Model.EndDate)</span>
}

<table class="table table-striped table-bordered table-header-fixed" @Html.Raw(Model.Export ? "border='1'" : "")>
    <thead>
        <tr>
            <th>#.</th>
            <th>User Full Name</th>
            <th class="align-center">Planned Hours</th>
            <th class="align-center">Expected Hours</th>
            <th class="align-center">Hours Worked</th>
            <th class="align-center">Leave Hours</th>
            <th class="align-center">Percentage</th>
            <th class="align-center">Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Hours in Model.Effort)
         {
            <tr>
                <td>@(itemNo++).</td>
                <td>@Hours.UserName</td>
                <td class="align-center">@(Hours.PlannedHours?.ToString("#,##0.#"))</td>
                <td class="align-center">@(Hours.ExpectedHours?.ToString("#,##0.#"))</td>
                <td class="align-center">@(Hours.ActualHours?.ToString("#,##0.#"))</td>
                <td class="align-center">@(Hours.LeaveHours?.ToString("#,##0.#"))</td>
                <th class="align-center">@(Hours.PercentageWorked?.ToString("#,##0.#")) %</th>
                <td class="align-center">
                    @Html.ActionLink("Details", "LevelOfEffortDetails", new { UserId = Hours.UserId, StartDate = Model.StartDate, EndDate = Model.EndDate, UserName = Hours.UserName })
                </td>
            </tr>
         }
    </tbody>
</table>

    @if (Model.Export)
    {
        <div style="font-size:12px; font-style:italic;">Generated by @User.Identity.Name on @DateTime.Now.ToString("dd MMM yyyy hh:mm tt")</div>
    }
