﻿@model SMaster.ViewModels.Dashboard.DashboardListModel.CompletionTable


    <td>@Model.ProjectName</td>
    <th class="align-center">@Model.TotalTask</th>
    <td class="align-center">@Model.Done</td>
    <td class="align-center">@Model.NotDone</td>
    <td class="align-center">@Model.Ongoing</td>
