﻿@model SMaster.Models.Setups.ProjectClient

<tr class="watched-collection" collection-name="Clients">
    <td>
        @Html.HiddenField("Id", Model.Id)
        @Html.TextBoxWithoutLabelFor(m => m.Name, new { @style = "max-width:100%" })
    </td>
    <td class="align-center">
        <a href="javascript:void(0)" class="remove-row"><i class="fa fa-remove text-crimson"></i> Delete</a>
    </td>
</tr>

