﻿@model SMaster.ViewModels.Dashboard.ProjectAnalysisListModel

@{
    ViewBag.Title = "Personal Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="clearfix"></div>

<div class="margin-bottom-10">
    <a href="javascript:window.history.back(1)" class="btn btn-info"><i class="fa fa-backward"></i> Back to List</a> 
    @("|")
    <a href="javascript:window.print()" onclick="printContent('dvmismatch')" target="_blank"  class="btn btn-danger"><i class="fa fa-print"></i> Click to Print This Page</a>
</div>
<div id="dvmismatch">
    @Html.Partial("Partials/_PartialAnalysis", Model)
</div>

<div class="clearfix"></div>
@section scripts{
    <script type="text/javascript">
        function printContent(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

    </script>
}