﻿@using SMaster.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    #loginForm {
        /*float:left;*/
        margin-right: 20px;
        background-color: #EEE;
        /*border: 1px solid #CCC;*/
        border-radius: 3px;
        padding: 15px;
        border: 1px solid #AAA;
        box-shadow: 1px 1px 1px 1px #CCC;
        border-left-color: #FFF;
    }

    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }

    #UserName, #Password {
        width: 300px;
    }

    .well1 {
        background-color: rgba(250, 251, 251, 0.89);
        border: 1px solid #EEE;
        padding: 20px;
        border-radius: 6px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 2px 1px #b4aeae;
        margin-top: 20px;
    }

    p {
        text-align: justify;
    }

    .thumbnail {
        /*border:none;*/
        border-color: #EEE;
        border-width: 2px;
    }

    .login-container {
        text-align: center;
        display: inline-table;
    }

        .login-container > div:nth-of-type(1) {
            border: 1px solid #AAA;
            box-shadow: 1px 1px 1px 1px #CCC;
            border-radius: 4px;
        }

        .login-container > div:nth-of-type(2) {
            margin-left: -1px;
            padding-top: 10%;
        }


        .login-container > div, .login-container img {
            display: inline-table;
            border-radius: 4px;
        }

        .login-container img {
            vertical-align: middle;
        }
</style>
<div class="align-center">
    <div class="login-container">
        <div class=" pull-left">
            <img src="@Url.Content("~/Images/scrumroles.jpg")" alt="...">
        </div>
        <div class="pull-left">
            <div class="card card-default">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <div class="margin-bottom-20">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
                        </div>
                        <div class="margin-bottom-20">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                        <div class="checkbox pull-left">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="card-footer" style="padding: 0.50rem 1.10rem;">
                        <input type="submit" value="Log in" class="btn btn-primary pull-right" />
                        <div class="clearfix"></div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}