﻿@model SMaster.ViewModels.Dashboard.ProjectCostListModel


<div class="panel-body table-responsive col-sm-12 no-padding">
    <table class="table table-bordered table-striped table-header-fixed" @(Model.Export ? "border='1'" : "")>
        <thead>
            <tr>
                <th>Project</th>
                <th style="text-align:right">Contract Value</th>
                <th style="text-align:right">Expenditure</th>
                <th style="text-align:right">Project Margin</th>
                <th style="text-align:right">Project Profit</th>
            </tr>
        </thead>
        @foreach (var item in Model.Details)
            {
            <tbody>
                <tr>
                    <td>
                        @item.Project <b>( @item.ShortName )</b></td>
                    <td style="text-align:right">
                        @item.ContractValue.ToString("#,##0")</td>
                    <td style="text-align:right">
                        @item.Expenditure.ToString("#,##0")</td>
                    <td style="text-align:right">
                        @item.ProjectMargin.ToString("#,##0")</td>
                    <td style="text-align:right">
                        @item.ProjectProfit.ToString("#,##0")</td>
                </tr>
            </tbody>
        }
    </table>
</div>
