﻿@model string

@if (!string.IsNullOrEmpty(Model))
{
    <div class="row">
        <div class="alert alert-success alert-dismissable col-sm-10">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Success:</strong><br />
            @Html.Raw(Model)
        </div>
        <div class="clearfix"></div>
    </div>
}
