﻿@model SMaster.ViewModels.Dashboard.DashboardListModel

@if (Model.Export)
{
<h3 class="col-sm-10">Staff Frequency Of Reporting For @(System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(Model.Month) + " - " + Model.Year)</h3>
}

<table class="table table-striped table-bordered table-header-fixed" @Html.Raw(Model.Export ? "border='1'" : "")>
    <thead>
        <tr class="bg-transparent">
            <th>Day/Staff</th>
            @foreach (var item in Model.FrequencyReports)
            {
                <th class="no-wrap align-center" style="padding-bottom:0px">
                    @item.UserName 
                    <a style="border: 1px solid #fcb409; border-radius: 2px; padding: 2px;padding-left: 5px;padding-right: 5px;background-color: #fff36c" class="float-right" href="@Url.Action("PersonalInvoice","ChargeableHours", new { UserId = item.UserId })">
                        <i class="fa fa-clock-o"></i> 
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i <= System.DateTime.DaysInMonth(Model.Year, Model.Month); i++)
        {
            var newDate = new DateTime(Model.Year, Model.Month, i);
            if (newDate.DayOfWeek == DayOfWeek.Saturday || newDate.DayOfWeek == DayOfWeek.Sunday)
            {
                <tr class="no-wrap" style="background-color:#f7e6c3">
                    <th>
                        @(newDate.ToString("ddd, dd- MMM- yyyy"))
                    </th>
                    @foreach (var item in Model.FrequencyReports)
                    {
                        <th class="align-center">
                            @item.Items.Where(r => r.Day == newDate).Sum(r => r.HoursWorked).FormatForDisplay()
                        </th>
                    }
                </tr>
            }
            else
            {
                <tr class="no-wrap">
                    <td>
                        @(newDate.ToString("ddd, dd- MMM- yyyy"))
                    </td>
                    @foreach (var item in Model.FrequencyReports)
                    {
                        <td class="align-center">
                            @item.Items.Where(r => r.Day == newDate).Sum(r => r.HoursWorked).FormatForDisplay()
                        </td>
                    }
                </tr>
            }
        }
        <tr class="bg-success">
            <th>Total Hours Worked</th>
            @foreach (var item in Model.FrequencyReports)
            {
                <th class="align-center text-white">
                    @item.Items.Sum(r => r.HoursWorked).FormatForDisplay()
                </th>
            }
        </tr>
    </tbody>
</table>
