﻿@model SMaster.Models.Setups.PublicHoliday

@{
    ViewBag.Title = (Model.Id == 0 ? "New" : "Edit") + " Public Holiday";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textareaSize {
        height: 100% !important;
    }
</style>
<div class="col-sm-6 no-padding margin-bottom-20">
    <a href="@Url.Action("Index")" class="btn btn-info"><i class="fa fa-backward"></i> Back to List</a>
</div>

<div class="col-sm-6">
    @Html.ErrorMessageFor(Model)
</div>
<div class="clearfix"></div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="card border-default col-sm-9 no-padding">
        <div class="card-header">
            <strong>@ViewBag.Title</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.StartDate, true, true)
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.EndDate, true, true)
                </div>
                <div class="col-sm">
                    @Html.TextAreaWithLabelFor(m => m.Name, new { @class = "full-width textareaSize" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-footer align-right">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
        </div>
    </div>
}
<div class="clearfix"></div>


@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-meetings";
    </script>
}

