﻿@model SMaster.ViewModels.Sprint.MeetingListModel
@{
    ViewBag.Title = "Public Holidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemNo = 1;
}

<style>
    .table-responsive li {
        border: 1px solid #DDD;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px #EEE;
        padding: 10px;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Home","Index")">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Meeting</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="margin-bottom-5 margin-top-20">
    <a href="@Url.Action("Details")" class="btn btn-info margin-bottom-10"><i class="fa fa-plus-square"></i> New Meeting</a>
</div>

<div class="card border-default col-sm-12 no-padding margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("Index", "Meeting", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-2">
                    @Html.DropDownListWithLabelFor(m => m.Month,
                                     new SelectList(Model.GetMonthsOfYear(), "Value", "Key"), new { @class = "change-trigger-postback" }, null)
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListWithLabelFor(m => m.Year,
                                     new SelectList(Model.GetYears()), new { @class = "change-trigger-postback" }, null)
                </div>
                <div class="col-sm margin-top-20">
                    @Html.SubmitButton("Search", "pull-left margin-right-5")
                    @Html.ActionLink("Reset Filters", "Index", null, new { @class = "btn btn-info pull-left" })
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        }
        <div class="table-responsive col-sm-6 no-padding">
            <table>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PublicHolidays)
                    {
                        itemNo++;
                        <tr>
                            <td>@itemNo</td>
                            <td>
                                @item.StartDate.FormatForDisplay()
                            </td>
                            <td>@item.EndDate.FormatForDisplay()</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-meetings";
    </script>
}

