﻿body {
    padding-bottom: 20px;
    background-color: #EEE;
    line-height: 1.42857143;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn {
    font-size: 12px;
    border-style: none;
    padding: 4px 12px !important;
    box-shadow: 1px 1px 1px 0px #CCC;
}

.header-content .login-details {
    float: right;
    margin-top: -15px;
    margin-right: -12px;
    background-color: #F1EBDD;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #DDD;
    font-weight: bold;
}

/* Status Styling*/
input:not(.full-width), select:not(.full-width), textarea:not(.full-width) {
    max-width: 100%;
}

span[task-state='Pending']{
        color:crimson;
    }
span[task-state='Done']{
        color:green;
    }
    
span[task-state='Ongoing']{
        color:dodgerblue;
    }

td[task-state='pending']{
        color:crimson;
    }
td[task-state='done']{
        color:green;
    }
    
td[task-state='ongoing']{
        color:dodgerblue;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input:not(.full-width),
select:not(.full-width),
textarea:not(.full-width) {
    max-width: 280px;
}

/*
    Font Icon Colors
    ======================
*/

.fa-color-gray-6 {
    color: #666;
}

.color-red,.text-crimson {
    color: crimson;
}

.color-green {
    color: green;
}

.color-black {
    color: #000;
}

.color-gray-6 {
    color: #666;
}



.btn{    
    font-size:12px;
}

.error-message,.field-validation-error{
    color:crimson;
}

/*
    Main Sections
    ====================
*/

.header-container {
    border-bottom: 2px solid #00BCE7;
    text-align: center;
    height: 85px;
    margin-top: -5px;
    background-repeat: no-repeat;
    background-size: 101%;
    max-width: 1260px;
}

.title-main {
    color: #0f3e7d;
    font-size: 22px;
    text-transform:capitalize;
    font-weight:bold;
}

.sub-title {
    font-size: 12px;
    color: #000000
}

.header-container .user-area {
    text-align: right;
    background-color:transparent;
    border:dotted;
}

    .header-container .user-area > div:first-of-type {
        padding-top: 2px;
        padding-right: 5px;
        font-size: 13px;
    }

.header-container .login-icon {
    border: 1px solid #00B18E;
    padding: 10px;
    color: #FFF;
    box-shadow: 1px 1px 0px 0px #b4aeae;
    margin-top: -30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    cursor: default;
}
.header-container .login-icon,.header-container .user-area .user-button{    
    background-color: #1e6e86;
}


.header-container .user-area .user-button {
    padding: 10px;
    cursor: pointer;
    color: #FFF;
}

    .header-container .user-area .user-button:hover, .header-container .user-area .open .user-button {
        border-color: #00BCE7;
        color: #00BCE7;
    }

.header-container .user-area .dropdown-menu {
    margin-top: 8px;
}

.header-container .user-area .user-button .fa:last-of-type {
    font-size: 12px;
    padding-left: 2px;
    padding-top: 2px;
}

.body-content {
}

.actual-body {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #1e6e86;
    padding: 20px;
    color: #FFF;
    font-weight:400;
    font-size: 12px;
    border-top: 2px solid #00B18E;
}

.container {
    box-shadow: 0px 2px 5px 2px #b4aeae;
    padding: 0px;
    background-color: #FFF;
    border-bottom: 1px;
    border-top: 1px solid #2790B0;
    min-width: 1240px !important;
}

    .container > div {
        padding: 5px;
    }

/*
    Margins
    ================
*/
.margin-right-5 {
    margin-right: 5px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

/*
    Padding classes
    ==================
*/
.no-padding{
    padding:0px;
}

/*
    Top menu
    ========*/
.breadcrumb {
    padding: 0.5rem 1rem;
    background-color: #d9e7f6 !important;
}

.navbar {
    padding: 0.0rem 0.5rem !important;
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #199012;
    border-top: 1px solid #199012;
    background-color: #4177b4;
}

.nav-item {
    border-right: 1px dotted #7294ce;
}
    .nav-item :hover {
        background-color: #007bff;
    }
    
.nav-link {
    color: #fff !important;
    font-weight: bold;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

    .nav-link :hover {
        background-color: #007bff;
    }

.nav-item > .dropdown-menu {
    border-radius: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 13px;
}

.dropdown-menu > .dropdown-item {
    background-color: #b4aeae;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-divider {
    margin: 0px;
    border-top: 0.5px dotted #969899;
}

    .menu-top > ul > li {
        margin-left: 0px !important;
    }

        .menu-top > ul > li > a {
            color: #fff;
            padding-top: 6px;
            padding-bottom: 8px;
            border-right: 1px dotted rgba(255, 255, 255, 0.15);
        }

            .menu-top > ul > li:not(.active) > a:hover, .menu-top > ul > li.open:not(.active) > a {
                border-radius: 0px;
                background-color: #227f9b !important;
            }

    .menu-top .active > a, .menu-top .active > a:hover, .menu-top .active > a:visited {
        border-radius: 0px;
        background-color: #1e6e86 !important;
    }

.active{
    font-weight:bold;
}
/*
    White space overrides
    ====================
*/
.no-wrap {
    white-space: nowrap;
}

/*
    Datepicker formats
    ====================
*/
.datepicker {
    background-color: #FFF !important;
    cursor: default !important;
}

/*
    Custom Tabs
    ==================
*/

.custom-tab-container {
}

    .custom-tab-container > ul {
        list-style: none;
        margin-top: 15px;
        margin-bottom: 8.5px;
        padding-left: 0px;
    }

        .custom-tab-container > ul > li {
            display: inline;
            padding: 10px 10px;
            text-align: center;
            border: 1px solid #CCC;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
            background-color: #EEE;
            margin-right: 3px;
            font-weight: bold;
        }

        .custom-tab-container > ul > li:not(.active):hover{
            background-color:#f7f3f3;
        }

            .custom-tab-container > ul > li.active {
                background-color: #FFF;
                border-bottom-color: #FFF;
                z-index: 1;
            }

.custom-tab {
    border: 1px solid #CCC;
    padding: 10px;
    max-height: 400px;
    overflow:auto;
}

.custom-tab.behind{
    overflow:hidden;
    max-height:0px;
    padding:0px !important;
    border:none !important;
}

/*
    Table classes
    =================
*/
.table-questionnaire td,.table-questionnaire th{
    padding:2px !important;
}

.table-vertical-align-middle td,.table-vertical-align-middle th{
    vertical-align:middle !important;
}

.table-black-row{
    background-color:#555;
    color:#FFF;
}
.table-dark-grey-row{
    background-color:#999;
}

.table-grey-row{
    background-color:#CCC;
}
table th, .table td {
    padding: 0.4rem !important;
}
    /*
    Alignment classes
    ==================
*/
    .align-center{
    text-align:center;
}

.align-justify{
    text-align:justify;
}


/*Refer table*/
.refer{
    width:500px;
}

/*
    Busy Div
    ================
*/
#busy-container {
    height:100%;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:4000;
    background-color:rgba(22, 21, 21, 0.61);
    padding-top:20%;
}

#busy-div {
    border: 1px solid #555;
    border-radius: 4px;
    display: inline-table;
    padding: 10px 20px;
    box-shadow: 2px 1px 4px 1px #444;
    background-color:#FFF;
}

    #busy-div > .fa {
        font-size: 60px;
    }

    #busy-div > div:nth-of-type(2) {
        padding-top: 25px;
        font-weight: bold;
    }

    /*
        Colors
        ============
    */
    .color-black{
        color:#333;
    }
    /*Notifcations*/
        
    #noti_Container {
        position:relative;
    }
       
    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #noti_Button {
        width:22px;
        height:22px;
        line-height:22px;
        border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        background:#FFF;
        cursor:pointer;
    }
        
    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #noti_Counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin:-8px 0 0 15px;
        border-radius:2px;
        -moz-border-radius:2px; 
        -webkit-border-radius:2px;
        z-index:1;
    }
        
    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #notifications {
        display:none;
        width:430px;
        position:fixed;
        top:17%;
        left:62%;
        background:#FFF;
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 1;
    }
    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #notifications:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-15px;
        margin-left: 93%;
    }
        
    .myH3 {
        display:block;
        color:#333; 
        background:#FFF;
        font-weight:bold;
        font-size:13px;    
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }

    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }

.border-default {
    border-color: #dee4ea;
}
    
/*
    Auto-combo
    ===============
*/
.auto-combo {
    display: inline;
    width: 90%;
    min-height: 23px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -2px;
}

    .auto-combo:not(.full-width) {
        max-width: 255px !important;
    }

    .auto-combo.full-width {
        max-width: none !important;
    }

.auto-combo-button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #DDD;
    padding: 4px 5px 3px 5px;
    cursor: pointer;
    background-color: #EEE;
    margin-left: -1px;
}

    .auto-combo-button:hover {
        border: 1px solid #CCC;
        background-color: #DDD;
    }

.auto-combo-list {
    margin-left: 0px !important;
    position: absolute;
    z-index: 1004;
    max-height: 200px;
    overflow: auto;
    border-radius: 3px;
    list-style: none;
    margin-top: 0px;
    background-color: #EEE;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding-left: 0px;
}

    .auto-combo-list li {
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid #DDD;
    }

        .auto-combo-list li:hover {
            background-color: #FFF;
        }

        .auto-combo-list li:first-of-type {
            border-top: 1px solid #EEE;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .auto-combo-list li:last-of-type {
            border-bottom: 1px solid #EEE;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }


.form-control {
    height: 26px !important;
    padding: 2px 12px;
    font-size: 13px;
}

input:not(.full-width),
select:not(.full-width),
textarea:not(.full-width) {
    max-width: 280px;
}
/*
    Alignment Classes
    =======================
*/
.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.shadowButton{
    margin-top: 5%;
    margin-left: 20%;
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px #ccc;
    text-align: center;
    width: 50%;
    color:blue;
    font-weight:bold;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #b8bac6 27%, #b8bac6 64%, #dddfe3 93%, #f5f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#b8bac6 27%,#b8bac6 64%,#dddfe3 93%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f6f6 0%,#b8bac6 27%,#b8bac6 64%,#dddfe3 93%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.shadowButton:hover{
   text-transform:none !important;
  }

/*
    User Item Popup
    =======================
*/
.user-item {
        border: 1px solid #CCC;
        width: 200px;
        overflow: auto;
        display: inline-table;
        margin-bottom: 2px;
        margin-right: 2px;
        padding: 2px;
        padding: 3px;
    }

        .user-item > input {
            margin: 2px;
        }

        .user-item > span {
            margin-bottom: 0px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .user-item > input:checked + span {
            background-color: #CCC;
            width: 85%;
            font-weight:bold;
        }


#userSelected > span{
        padding: 5px;
    border: 1px solid #DDD !important;
    font-weight: bold;
    border-radius: 1px;
    white-space: nowrap !important;
    margin-left: 6px;
}