﻿@model SMaster.Entities.Project
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input:not(.full-width), select:not(.full-width), textarea:not(.full-width) {
        max-width: 100%;
    }
</style>

<div class="margin-top-20">
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back to Projects</a>
</div>

<div class="col-sm-8">
    @Html.ErrorMessageFor(Model)
</div>
<div class="clearfix"></div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="col-sm-12 card border-default no-padding margin-right-5 margin-top-20">
        <div class="card-header">
            <strong>@ViewBag.Title</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxWithLabelFor(m => m.Name)
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.ShortName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.StartDate, true)
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.EndDate, true)
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Amount, new { @class = "require-commas align-right" })
                </div>
                <div class="col-sm">
                    @Html.DropDownListWithLabelFor(m => m.ProgramingLanguage, new SelectList(LookupsHelper.GetEnumValues(typeof(SMaster.Enums.ProgramingLanguages)), "Value", "Key"), null, "-All-")
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div><label>Project Manager</label></div>
                    @Html.DropDownListFor(m => m.ProjectManagerId, new SelectList(LookupsHelper.GetProjectManagers(), "Value", "Key"), "-Select-")
                </div>
                <div class="col-sm margin-top-20">
                    @Html.TextAreaWithLabelFor(m => m.Description, new { @style = "max-width: 100%; height: 110px !important" })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="card border-secondary col-sm-12 no-padding">
                <div class="card-header">
                    <strong>Project Clients</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="projectClient" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th class="align-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var clients in Model.Clients)
                                {
                                    @Html.Partial("Partials/_PartialClients", clients)
                                }
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="button" value="Add Row" class="btn btn-info" onclick="addRow()" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="pull-right margin-bottom-20">
                <input type="button" value="Save Changes" onclick="saveChanges()" class="btn btn-primary" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>      
}
<form id="redirect-form" action="@Url.Action("Index")" method="get"></form>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-project";
        var submitForm = null;

        $(function () {
            submitForm = $("#Id").closest("form");

            submitForm.submit(function () {
                return false;
            });
        });
    </script>

    <script type="text/javascript">

        function addRow() {
            showBusyDiv();
            $.post("@Url.Action("PartialClients")", null, function (response) {
                hideBusyDiv();
                $("#projectClient>tbody").append(response);
                helper.controls.formatControls(true);
            }).error(helper.errorHandler);
        }
    </script>

    <script type="text/javascript">

        function saveChanges() {

            if (!submitForm.valid()) {
                alert("Please fill all required fields!");
                return false;
            }
            else if (!helper.customvalidator.isFormValid(submitForm)) {
                alert("Please correct all validation errors!");
                return false;
            }

            if (!confirm("Do you want to save changes ?.")) {
                return;
            }

            showBusyDiv();
            $.post("@Url.Action("Save")", helper.controls.getFormValues(submitForm)
                , function (response) {
                    hideBusyDiv();
                    if (!response.Success) {
                        alert("Error:\n" + response.ErrorMessage);
                    }
                    else {
                        $("#redirect-form").submit();
                    }
                }).error(helper.errorHandler);
        }
    </script>
}


