﻿@model SMaster.ViewModels.Products.ProjectListModel

@{
    ViewBag.Title = "List Of Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = 1;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div style="margin-bottom:4px">
    <a href="@Url.Action("Details")" class="btn btn-success"><i class="fa fa-plus-square"></i> New Project</a>
</div>

<div class="card border-default col-sm-12 no-padding margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("Index", "Project", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxFor(m => m.SearchTerm, new { @placeholder = "search...", @class = "full-width", @maxlength = "30" })
                </div>
                <div class="col-sm">
                    <input type="submit" value="Search" class="btn btn-primary pull-left margin-right-5" />
                    <a href="@Url.Action("Index")" class="btn btn-info pull-left">Reset Filters</a>
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>

<div class="clearfix"></div>

<div class="table-responsive col-sm-12 no-padding">
    <table id="data-table" class="table table-bordered table-header-fixed">
        <thead>
            <tr>
                <th>No.</th>
                <th>Short Name</th>
                <th>Project Full Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Project Manager</th>
                <th class="align-center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>@(RowCount++).</td>
                    <td>@item.ShortName</td>
                    <td>@item.Name</td>
                    <td>@(item.StartDate?.ToString("dd -MMM -yyyy"))</td>
                    <td>@(item.EndDate?.ToString("dd -MMM -yyyy"))</td>
                    <td>@(item.Manager?.FirstName+"" + item.Manager?.LastName+" "+item.Manager?.OtherName)</td>

                    <td class="align-center">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="@Url.Action("Details", new { Id=item.Id})"><i class="fa fa-edit"></i> Edit </a>
                            @(" | ")
                        }
                        <a href="@Url.Action("View", new { Id=item.Id})"><i class="fa fa-dashcube"></i> Details</a>
                        @if (User.IsInRole(SMasterUserManager.PROJECT_MANAGER) || User.IsInRole(SMasterUserManager.SuperRole))
                        {
                            @(" | ")
                            <a href="@Url.Action("Delete", new { Id = item.Id })" onclick="return confirm('Do you confirm deleting project [@item.ShortName]?')"><i class="fa fa-remove text-crimson"></i> Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="clearfix"></div>

<div>
    @Html.PagedListPager(Model.Projects, page => Url.Action("Index", Model.GetRouteValues(page)))
</div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-project";
        $(function () {
            $("#menu-transfers").addClass("active");
        });
    </script>
}
