﻿@model SMaster.Entities.Project
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .data-status-Pending {
        color: red;
    }

    .data-status-Done {
        color: green;
    }
    .data-status-Ongoing
    {
        color:deepskyblue;
    }
</style>
<div class="col-sm-8 no-padding" style="margin-bottom:5px">
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back to Project List</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-12 no-padding">
    <div class="card border-default no-padding" style="margin-bottom:5px">
        <div class="card-header">
            <strong>Project Details</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-header-fixed">
                <tr>
                    <td style="width:150px"><b>Project Name</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b>Start Date</b></td>
                    <td>@Model.StartDate.Value.ToString("dd -MMMM -yyyy")</td>
                </tr>
                <tr>
                    <td><b>End Date</b></td>
                    <td>@Model.EndDate.Value.ToString("dd -MMMM -yyyy")</td>
                </tr>
                <tr>
                    <td><b>Description</b></td>
                    <td>@Html.Raw(Model.Description)</td>
                </tr>
            </table>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="card border-default">
        <div class="card-header collapsed" title="Click to expand/collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse-sprints">
            <strong>
                Sprints
            </strong>
        </div>
        <div class="panel-collapse collapse card-body" id="collapse-sprints">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="items-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th class="align-center">Start Date</th>
                            <th class="align-center">Finish Date</th>
                            <th class="align-center">Status</th>
                            <th class="align-center">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var SprintitemNo = 1;
                            foreach (var item in Model.SprintPlans)
                            {
                                <tr>
                                    <td>@(SprintitemNo++).</td>
                                    <td class="align-center">@(item.StartDate?.ToString("dd - MMM -yyyy"))</td>
                                    <td class="align-center">@(item.EndDate?.ToString("dd - MMM -yyyy"))</td>
                                    <td align="center" class="data-status-@item.Status">@item.Status</td>
                                    <td align="center">
                                        <a href="@Url.Action("ViewDetails","Sprint", new { Id=item.Id})" class="btn btn-warning"><i class="fa fa-dashcube"></i> View Details</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-project";
        $(function () {
            $("#menu-cold-room").addClass("active");
        });
    </script>
}