﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Scrum Master</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        @@font-face {
    font-family: "Gotham C";
    src: url('@Url.Content("~/fonts/libelsuit.ttf")');
                }

        body{
    background-image:url('@Url.Content("~/Images/texture.jpg")');
        }

        /*.header-container{
    background-image:url('@Url.Content("~/Images/header-background-2.png")');
        }*/

.logo{
    margin-top:10px;
    margin-left:10px;
    background: transparent url("@Url.Content("~/Images/dc-logo.png")") no-repeat scroll 0px 0px;
    height: 60px;
    }
    </style>
</head>
<body onbeforeunload="showBusyDiv(true)">
    <div class="container">
        <div class="container">
            <div class="row margin-bottom-5">
                <div class="col-sm">
                    <div class="logo"></div>
                </div>
                <div class="col-sm-6 align-center title-main">
                    DataCare Scrum-Master
                    <div class="sub-title">Project Management Information Tool for agile development</div>
                </div>
                <div class="col-sm">
                    <div class="pull-right row" style="border: 1px solid #ccc;margin-right: 5%;border-radius: 5px;padding: 5px;background-color: #ede9e9;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-sm">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.Partial("_LoginPartial")
                                }
                            </div>
                            <div class="col-sm">
                                <span class="pull-right">
                                    @(" | ")
                                    <strong><i><i class="fa fa-sign-out" style="color:#2a6496; margin-left:15px"></i> <a href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()">Log off</a></i></strong>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                    }
                                </span>
                            </div>
                        }
                        else
                        {
                            <div class="fa fa-lock login-icon pull-right"></div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active" id="menu-home"><a class="nav-link" href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Dashboard <span class="sr-only">(current)</span></a></li>
                        @if (User.IsInRole(SMasterUserManager.SuperRole) || User.IsInRole("Project Manager"))
                        {
                            <li class="nav-item" id="menu-project"><a class="nav-link" href="@Url.Action("Index", "Project")"><i class="fa fa-tasks"></i> Projects</a></li>
                        }
                        <li class="nav-item dropdown" id="menu-sprint">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-briefcase"></i>  Sprint Plan
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "SprintPlan")"><i class="fa fa-tasks"></i> Sprint</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("EditDetails", "SprintPlan", new { selectedType = SMaster.Enums.ReportingType.ExtraActivity })"> Extra Activities</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" id="menu-scrum">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-tasks"></i>  Scrum
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("AllActivities", "Scrum")">Daily Reporting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("PendingActivities", "Scrum")">OverDue Activities</a>
                            </div>
                        </li>
                        <li class="nav-item" id="menu-meetings"><a class="nav-link" href="@Url.Action("Index", "Meeting")"><span><i class="fa fa-calendar-check-o"></i>  Meetings Scheduler</span></a></li>
                        @if (!User.IsInRole(SMasterUserManager.REGULAR_USER))
                        {
                            <li class="nav-item dropdown" id="menu-dashboard">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-th-list"></i>   Reports
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("ProjectCost", "Dashboard")">Completion Rate</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("UsersLOEf", "Dashboard")">Level of Effort</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("WeeklyReport", "Dashboard")">Weekly Report</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("UnallocatedUsers", "Dashboard")">Unallocated Users</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Index", "ProjectCost")">Project Cost</a>
                                     <a class="dropdown-item" href="@Url.Action("Index", "ReportingFrequency")">Reporting Frequency</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Index", "ChargeableHours")">Chargeable Hours</a>
                                    <a class="dropdown-item" href="@Url.Action("ProjectExpenditure", "ChargeableHours")">Project Per Hour</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SMasterUserManager.SuperRole))
                        {
                            <li class="nav-item" id="menu-users"><a class="nav-link" href="@Url.Action("Index", "Users")"><i class="fa fa-cogs"></i> Manage Users</a></li>
                        }
                    </ul>
                    @if (SMaster.Helpers.LookupsHelper.GetPending() > 0)
                    {
                        <form class="form-inline my-2 my-lg-0">
                            <a href="@Url.Action("PendingActivities", "Scrum")">
                                <button type="button" class="btn" style="background-image: linear-gradient(#007bff, #4177b4); color:#fff">
                                    Tasks Overdue <span class="badge badge-count"> : <span style="font-size:14px"> @SMaster.Helpers.LookupsHelper.GetPending() </span></span>
                                </button>
                            </a>
                        </form>
                    }
                </div>
            </nav>
        }
        <div class="body-content">

            <div class="actual-body">@RenderBody()</div>
        </div>
        <div class="align-center" id="busy-container">
            <div id="busy-div">
                <div class="fa fa-spinner fa-spin pull-left"></div>
                <div class="pull-left">
                    System busy....
                    <div id="busy-close-div"><a href="javascript:void(0)" onclick="hideBusyDiv()">Hide</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <footer>
            <div class="footer">&copy; @DateTime.Now.Year - Data Care (U) Ltd</div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/helpers")
    <script src="../Scripts/SMaster/highcharts.js"></script>
    <script src="../Scripts/SMaster/highcharts-3d.js"></script>
    <script src="../Scripts/SMaster/exporting.js"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        helper.controls.SERVER_DATE_TODAY = new Date(@DateTime.Today.Year,@(DateTime.Today.Month-1),@DateTime.Today.Day);
        helper.controls.SERVER_DATE_LASTSEVEN = new Date(@DateTime.Today.Year,@(DateTime.Today.Month-1),@DateTime.Today.Day-7);
        $(function () {
            hideBusyDiv();
            helper.controls.initialize(true);
            $(".custom-breadcrumb a:last-of-type").addClass("active");
            helper.controls.postInitializationLogic();
        });
    </script>
    <script>
        function showBusyDiv(showCloseButton) {
            if (showCloseButton) {
                $("#busy-close-div").show();
            }
            else {
                $("#busy-close-div").hide();
            }
            $("#busy-container").show();
        }

        function hideBusyDiv() {
            $("#busy-container").hide();
        }
    </script>

    <script type="text/javascript">
        helper.controls.SERVER_DATE_TODAY = new Date(@DateTime.Today.Year,@(DateTime.Today.Month-1),@DateTime.Today.Day);

        $(function () {
            helper.controls.initialize();
        });

        function confirmFormSubmission(controlId){
            $("#"+controlId).closest("form").submit(function(){
                if(!$(this).valid()){
                    return false;
                }
                return confirm('Do you confirm saving these details?');
            });
        }

        $(document).ready(function () {

            // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
            $('#noti_Counter')
                .css({ opacity: 0 })
                .text('255')              // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
                .css({ top: '-10px' })
                .animate({ top: '-2px', opacity: 1 }, 500);

            $('#noti_Button').click(function () {

                // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
                $('#notifications').fadeToggle('fast', 'linear', function () {
                    if ($('#notifications').is(':hidden')) {
                        $('#noti_Button').css('background-color', '#2E467C');
                    }
                    else $('#noti_Button').css('background-color', '#FFF');        // CHANGE BACKGROUND COLOR OF THE BUTTON.
                });

                $('#noti_Counter').fadeOut('slow');                 // HIDE THE COUNTER.

                return false;
            });

            // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
            $(document).click(function () {
                $('#notifications').hide();

                // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
                if ($('#noti_Counter').is(':hidden')) {
                    // CHANGE BACKGROUND COLOR OF THE BUTTON.
                    $('#noti_Button').css('background-color', '#2E467C');
                }
            });

            $('#notifications').click(function () {
                return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
            });
        });
    </script>
</body>
</html>
