﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMaster</title>
    <style>
        @@font-face {
    font-family: "Gotham C";
    src: url('@Url.Content("~/fonts/libelsuit.ttf")');
                }

        body{        
    background-image:url('@Url.Content("~/Images/texture.jpg")');
        }

        .header-container{
    background-image:url('@Url.Content("~/Images/header-background-2.png")');
        }

.header-container .logo{
    background: transparent url("@Url.Content("~/Images/icons.png")") no-repeat scroll 0px 0px;
}
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="header-container">

            <div class="logo"></div>
            <div class="title">
                <div class="title-main">OVC MBE</div>
                <div class="title-info">Program OVC Mapping and Beneficiary Enrollment Database</div>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-area pull-right">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <div class="pull-left">Hello <b>@User.Identity.Name</b>!</div>
                    <div class="btn-group pull-right">
                        <a class="user-button dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li>@Html.ActionLink("Manage Setups", "Setups", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li class="divider"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </div>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            }
            else
            {
                <div class="fa fa-lock login-icon pull-right"></div>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
            {
            <div class="menu-top">
                <ul class="nav nav-pills">
                    <li id="menu-home"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="dropdown" id="menu-setup">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                            Setup <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                    
                            <li><a href="@Url.Action("Districts","Setup")">District</a></li>                          
                            <li><a href="@Url.Action("Subcounty","Setup")">Sub-County</a></li>
                            <li><a href="@Url.Action("Parishes", "Setup")">Parish</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Regions","Setup")">Region</a></li>
                            <li><a href="@Url.Action("TSOs", "Setup")">TSOs</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("OrganisationType", "Setup")">Organisation Type</a></li>
                            <li><a href="@Url.Action("ThematicAreas", "ProviderService")">Thematic Area</a></li>
                            <li><a href="@Url.Action("SubThematicAreas", "ProviderService")">Sub-Thematic Area</a></li>
                            <li><a href="@Url.Action("OVCservices", "ProviderService")">OVC Services</a></li>
                            <li><a href="@Url.Action("TargetBeneficiaries", "ProviderService")">Beneficiary</a></li>

                        </ul>
                    </li>
                </ul>


            </div>
        }
        <div class="body-content">
            
            <div class="actual-body">@RenderBody()</div>
            <div class="clearfix"></div>
        </div>

        <footer>
            <div class="footer">&copy; @DateTime.Now.Year - Data Care (U) Ltd</div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/SMaster")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            helper.controls.intialize();
        });
    </script>
</body>
</html>
