﻿@model SMaster.ViewModels.Sprint.TaskListModel
@{
    ViewBag.Title = "Daily Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Home","Index")">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Daily Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<h4>@ViewBag.Title</h4>

@if (ViewBag.Success == 1)
{
    <div class="col-sm-5">
        @Html.SuccessMessageFor("Records Updated Successfully!")
    </div>
    <div class="clearfix"></div>
}

<div class="card border-default col-sm-12 no-padding margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("AllActivities", "Scrum", new { reportType = SMaster.Enums.ReportingType.DailyReporting }))
            {
            @Html.HiddenField("Success", "0")
            <div class="row">
                <div class="col-sm">
                    @Html.DropDownListWithLabelFor(m => m.ProjectId, new SelectList(Model.Projects, "Id", "Name"), null, "-All-")
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.Date, true, false)
                </div>
                <div class="col-sm margin-top-20">
                    <input type="submit" value="Reload" class="btn btn-primary" />
                </div>
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>

<div class="clearfix"></div>

<div class="card border-default">
    <div class="card-header">
        <strong>Sprint Activities</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-header-fixed">
            <thead>
                <tr>
                    <th class="align-center">Project</th>
                    <th>Task Description</th>
                    <th class="align-right">Hours</th>
                    <th class="align-center">Responsible</th>
                    <th class="align-center no-wrap">Hours Spent</th>
                    <th class="align-center">Status</th>
                    <th class="DateToComplete no-wrap">Date To Complete</th>
                    <th>Comment</th>
                    <th class="align-center">Options</th>
                </tr>
            </thead>
            @foreach (var project in (Model.ProjectId.HasValue ? Model.Projects.Where(r => r.Id == Model.ProjectId) : Model.Projects))
            {
                if (project.Clients.Count != 0)
                {
                    foreach (var client in project.Clients)
                    {
                        var projectTasks = Model.AllTasks.Where(r => r.Assignee.SprintTask.SprintPlan.ProjectId == project.Id &&
                                                                     r.Assignee.SprintTask.SprintPlan.ClientId == client.Id).ToList();

                        if (projectTasks.Count == 0)
                        {
                            continue;
                        }
                        <tbody>
                            <tr>
                                <td rowspan="@(1 + projectTasks.Count)"><b>@project.Name </b>: @client.Name</td>
                            </tr>
                            @foreach (var myTasks in projectTasks)
                            {
                                @Html.Partial("Partials/_PartialTasks", myTasks)
                            }
                        </tbody>
                    }
                }
                else
                {
                    var projectTasks = Model.AllTasks.Where(r => r.Assignee.SprintTask.SprintPlan.ProjectId == project.Id).ToList();

                    if (projectTasks.Count == 0)
                    {
                        continue;
                    }
                    <tbody>
                        <tr>
                            <td rowspan="@(1 + projectTasks.Count)">@project.ShortName</td>
                        </tr>
                        @foreach (var myTasks in projectTasks)
                        {
                            @Html.Partial("Partials/_PartialTasks", myTasks)
                        }
                    </tbody>
                }
            }
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update Task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.Hidden("Id")
                    <div class="form-group">
                        <label><strong>Task Description</strong></label>
                        <div id="description"></div>
                    </div>
                    <div class="form-group">
                        <label><strong>Responsible</strong></label>
                        <div id="responsible"></div>
                    </div>
                    <div class="form-group">
                        <label><strong>Actual Hours</strong></label>
                        <div>@Html.TextBox("ActualHours")</div>
                    </div>
                    <div class="form-group">
                        <label><strong>Status</strong></label>
                        <div>@Html.DropDownList("Status", new SelectList(LookupsHelper.GetEnumValues(typeof(SMaster.Enums.ActivityStatus)), "Value", "Key"), null, null)</div>
                    </div>
                    <div class="form-group">
                        <label><strong>Date to Complete</strong></label>
                        <div class="date-picker-container">@Html.TextBox("DateToComplete", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "datepicker lastSeven show-time", @readonly = "readonly" })</div>
                    </div>
                    <div class="form-group">
                        <label><strong>Comment</strong></label>
                        <div>@Html.TextArea("Comment")</div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateTask()">Update Task</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<form id="redirect-form" action="@Url.Action("AllActivities", "Scrum")" method="get"></form>
@section scripts{

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-scrum";
        var targetForm = null;

        $(function () {
            $(".filter-panel select,.filter-panel input").change(function () {
                postBackPage(this);
            });

            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });

        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }
    </script>

    <script type="text/javascript">
        var currentRowId = null;
        var modalDialog = null;

        $(function () {
            modalDialog = $("#myModal");
            modalDialog.find("form").submit(function () {
                return false;
            });
        });

        function ShowPopUp(caller) {
            var row = $(caller).closest("tr");
            var yearCreated = row.find("[name='ActvityStartYear']").val();
            var monthTaskCreated = row.find("[name='ActvityStartMonth']").val();
            var dayTaskCreated = row.find("[name='ActvityStartDay']").val();

            helper.controls.SERVER_DATE_TASK_CREATED = new Date(yearCreated,monthTaskCreated,dayTaskCreated);
            console.log(helper.controls.SERVER_DATE_TASK_CREATED);

            currentRowId = row.attr("id");

            $(["Id", "ActualHours", "Status", "Comment"]).each(function (i, d) {
                modalDialog.find("[name='" + d + "']").val(row.find("[name='" + d + "']").val());
            });

            $(".date-picker-container").empty();

            $(".date-picker-container").append("<input type='text' name='DateToComplete' id='DateToComplete' class='datepicker lastSeven'/>");
            helper.controls.formatControls(true);

            modalDialog.find("#description").text(row.find("td:first-of-type").text());
            modalDialog.find("#responsible").text(row.find("td:nth-of-type(3)").text());

            modalDialog.modal("show");
        }

        function UpdateTask() {
            if (!confirm("Do you confirm updating this task?")) {
                return;
            }

            var formValues = modalDialog.find("form").serialize();

            showBusyDiv();

            $.post("@Url.Action("SaveMyScrum")", formValues, function (response) {
                hideBusyDiv();
                if (response.Success) {
                    modalDialog.modal("hide");
                    $(["ActualHours", "Status", "Comment", "DateToComplete"]).each(function (i, d) {
                        $("#" + currentRowId).find("[name='" + d + "']").val(modalDialog.find("[name='" + d + "']").val());
                    });

                    var status = modalDialog.find("#Status option:selected").text();
                    var statusCell = $("#" + currentRowId).find("td:nth-of-type(5)");
                    statusCell.attr("task-state", status.toLowerCase());
                    statusCell.text(status);

                    $("#" + currentRowId).find("td:nth-of-type(4)").text(modalDialog.find("[name='ActualHours']").val());
                    $("#" + currentRowId).find("td:nth-of-type(6)").text(response.DateToComplete);
                    $("#" + currentRowId).find("td:nth-of-type(7)").text(modalDialog.find("[name='Comment']").val());
                    $("#" + currentRowId).find("td:nth-of-type(8)").empty();
                }
                else {
                    alert("Error:\n" + response.ErrorMessage);
                }
            }).error(helper.errorHandler);
        }
    </script>
}

