﻿@model SMaster.ViewModels.Sprint.TaskListModel
@{
    ViewBag.Title = "Daily Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .category-cell {
        background-color: #888 !important;
        color: #FFF;
    }

    input:not(.full-width), select:not(.full-width), textarea:not(.full-width) {
    max-width: 100%;
}
</style>

<h3>@ViewBag.Title</h3>

@if (ViewBag.Success == 1)
{
    <div class="col-sm-5">
        @Html.SuccessMessageFor("Targets Updated Successfully!")
    </div>
    <div class="clearfix"></div>
}


<div class="panel panel-default col-sm-12 no-padding filter-panel">
    <div class="panel-heading">
        <strong>Filters</strong>
        <i class="fa-pull-right fa fa-filter"></i>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("MyScrumActivities", "Scrum"))
        {
            @Html.HiddenField("Success", "0")
            <div class="col-sm-4 pull-left margin-right-5 no-padding">
                <div><label>Project List</label></div>
                @Html.DropDownListWithoutLabelFor(m => m.ProjectId, new SelectList(LookupsHelper.GetProjectsWithSprints(), "Value", "Key"), null, "-All-")
            </div>
            <div class="col-sm-3 pull-left margin-right-5 no-padding">
                <div><label>Day Of Week</label></div>
                @Html.EnumDropDownListFor(m => m.DayOfWeek)
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<div class="clearfix"></div>

@if (Model.MyCurrentTasks.Count > 0)
{
    using (Html.BeginForm("", "", FormMethod.Post, new { @id = "target-form" }))
    {
        ViewBag.OrderedFYIds = Model.Projects.Select(r => r.Id).ToList();
        <div class="panel panel-default">
            <div class="panel-heading align-center">
                <strong>Sprint Activities For <span class="text-info" style="text-transform:capitalize"> - @Model.UserFullName</span> </strong>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered table-header-fixed">
                    <thead>
                        <tr>
                            <th class="align-center">Task Description</th>
                            <th class="align-center">Project</th>
                            <th class="align-center">Day Of Week</th>
                            <th class="align-center">Planned Hours</th>
                            <th class="align-center">Actual Hours</th>
                            <th class="align-center">Status</th>
                            <th class="DateToComplete">Date To Complete</th>
                            <th class="align-center">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var myTasks in Model.MyCurrentTasks)
                        {
                            @Html.Partial("Partials/_PartialTasks", myTasks)
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer align-right">
                <input type="button" value="Save Changes" onclick="saveChanges()" class="btn btn-primary" />
            </div>
        </div>
    }
}
<form id="redirect-form" action="@Url.Action("Index","Sprint")" method="get"></form>
@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-scrum";
        var targetForm = null;

        if (parseInt($("tr .MyStatus").val()) == 0 || parseInt($(".MyStatus").val()) == 1) {
            $(".DateToComplete").show();
        } else {
            $(".DateToComplete").hide();
        }

        $(function () {
            $(".filter-panel select").change(function () {
                postBackPage(this);
                $("#DateToComplete").hide();
            });
            $(".MyStatus").change(function () {

                if (parseInt($(".MyStatus").val()) == 0 || parseInt($(".MyStatus").val()) == 1) {
                    $(".DateToComplete").show();
                } else {
                    $(".DateToComplete").hide();
                }
            });
            
            targetForm = $("#target-form");

            targetForm.submit(function () {
                return false;
            });
            
        });

        function postBackPage(caller) {
            var combo = $(caller);

            var foundCombo = false;
            combo.closest(".panel").find("select").each(function (i, d) {
                if (!foundCombo) {
                    if ($(d).attr("name") == combo.attr("name")) {
                        foundCombo = true;
                    }
                }
                else {
                    $(d).val('');
                }
            });

            var form = combo.closest("form");
            form.unbind("submit");
            form.submit();
        }

        function saveChanges() {
            if (!helper.customvalidator.isFormValid(targetForm)) {
                alert("Please fill all required fields!");
                return;
            }
            else if (confirm("Do you confirm saving these details?")) {
                showBusyDiv();
                $.post("@Url.Action("SaveMyScrum")", targetForm.serialize(), function (response) {
                    hideBusyDiv();
                    if (response.Success) {
                        $("#redirect-form").submit();
                    }
                    else {
                        alert("Error:\n" + response.ErrorMessage);
                    }
                }).error(helper.errorHandler);
            }
        }
    </script>
}

