﻿@model SMaster.Models.Setups.Meeting

@{
    ViewBag.Title = (Model.Id == 0 ? "New" : "Edit") + " Meeting Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .textareaSize {
        height: 100% !important;
    }
</style>
<div class="col-sm-6 no-padding margin-bottom-20">
    <a href="@Url.Action("Index")" class="btn btn-info"><i class="fa fa-backward"></i> Back to List</a>
</div>

<div class="col-sm-6">
    @Html.ErrorMessageFor(Model)
</div>
<div class="clearfix"></div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="card border-default col-sm-9 no-padding">
        <div class="card-header">
            <strong>@ViewBag.Title</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.EventName, new { @class = "full-width", @maxlength = "255" })
                </div>
                <div class="col-sm">
                    @Html.TextBoxWithLabelFor(m => m.Venue, new { @class = "full-width", @maxlength = "255" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.StartDate, true, true)
                </div>
                <div class="col-sm">
                    @Html.DatePickerWithLabelFor(m => m.EndDate, true, true)
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.TextAreaWithLabelFor(m => m.Description, new { @class = "full-width textareaSize" })
                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @foreach (var attendee in Model.Attendees)
                {
                        <div class='watched-collection' collection-name='Attendees'>
                            <input type='hidden' name='UserId' id='UserId' value="@attendee.UserId" />
                        </div>
                    }
                    <a href="javascript:void(0)" onclick="selectAttendees(this)">
                        <div class="shadowButton"><i class="fa fa-plus-square" style="color:green,"></i> Assign People to Attend @Model.Attendees.Count()</div>
                    </a>
                    <div id="selectedUserDiv">
                    </div>
                    <div id="userSelected"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card-footer align-right">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
        </div>
    </div>
}
<div class="clearfix"></div>

<!-- Modal -->
<div class="modal fade" id="modal-users" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Assign Users</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="margin-bottom-20">
                    <label>Meeting Description:</label>
                    <div id="modal-description"></div>
                </div>
                <div class="table-responsive user-container">
                    <div class="user-item">
                        <input type="checkbox" onchange="controlSelectAll(this)" class="pull-left" name="Selected" />
                        <span class="pull-left">
                            <b>Select All</b>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="user-items">
                        @foreach (var user in LookupsHelper.GetApplicationUsers())
                        {
                            <div class="user-item" user-id="@user.Id">
                                <input type="checkbox" class="pull-left" name="Selected" value="@user.Id" />
                                <span class="pull-left">
                                    @string.Format("{0} {1} {2} ({3})", user.FirstName, user.LastName
                                                    , user.OtherName, user.Initials)
                                </span>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveAttendees()" data-dismiss="modal">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-meetings";
        $('#StartDate').removeAttr("data-val-date");
        $('#EndDate').removeAttr("data-val-date");
        $(function () {
            helper.controls.confirmFormSubmission("Id");
        });

    </script>

    <script type="text/javascript">
        var userItemsSelector = ".user-items";
        var popup = null;
        var userBoxSelector = "#selectedUserDiv";

        $(function () {
            popup = $("#modal-users");
        });

        function controlSelectAll(caller) {
            var selectAll = $(caller).closest("div").find("input:checked").length > 0;

            if (selectAll) {
                $(userItemsSelector).find("input:not(:checked)").click();
            }
            else {
                clearCheckboxes($(userItemsSelector));
            }
        }

        function clearCheckboxes(parentSelector) {
            parentSelector.find("input:checked").removeAttr("checked");
        }

        function selectAttendees(caller) {
            popup.find("#modal-description").text($("input[name$='EventName']").val());

            clearCheckboxes(popup.find(".modal-body"));

            $(userBoxSelector).find("input").each(function (i, d) {
                popup.find("input[value='" + $(d).val() + "']").click();
            });

            popup.modal("show");
        }

        function saveAttendees() {
           $('#selectedUserSpan').text = '';
            var result = "<div>"
                + $(userItemsSelector).find("input:checked").length
            + "</div>";

            $(userItemsSelector).find("input:checked").each(function (i, d) {
                
                var span = $(d).closest("div").find("span");
                var a = $("#userSelected");
                a.append("<span class='selectedUserSpan'>" + span.text().trim()+"</span>");
                result += "<div class='watched-collection' collection-name='Attendees'>";
                result += "<input type='hidden' name='UserId' id='UserId' value='" + $(d).val() + "'/>";
                result += "</div>";
            });

            $(userBoxSelector).html(result);

            helper.controls.formatControls();
        }
</script>
}

