﻿@model SMaster.ViewModels.Sprint.MeetingListModel
@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var itemNo = 1;
}

<style>
    .table-responsive li {
        border: 1px solid #DDD;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px #EEE;
        padding: 10px;
    }

    .calendar-item {
        margin-bottom: 5px;
    }

        .calendar-item > div:first-of-type {
            font-weight: bold;
        }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Home","Index")">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Meeting</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

<div class="margin-bottom-5 margin-top-20">
    <a href="@Url.Action("Details")" class="btn btn-info margin-bottom-10"><i class="fa fa-plus-square"></i> New Meeting</a>
</div>

<div class="card border-default col-sm-12 no-padding margin-bottom-20">
    <div class="card-body">
        @using (Html.BeginForm("Index", "Meeting", FormMethod.Get))
        {
            <div class="row">
                <div class="col-sm-2">
                    @Html.DropDownListWithLabelFor(m => m.Month,
                                     new SelectList(GenericLookupHelper.GetMonthsOfYear(), "Value", "Key"), new { @class = "change-trigger-postback" }, null)
                </div>
                <div class="col-sm-2">
                    @Html.DropDownListWithLabelFor(m => m.Year,
                                     new SelectList(GenericLookupHelper.GetYears()), new { @class = "change-trigger-postback" }, null)
                </div>
                <div class="col-sm margin-top-20">
                    @Html.SubmitButton("Search", "pull-left margin-right-5")
                    @Html.ActionLink("Reset Filters", "Index", null, new { @class = "btn btn-info pull-left" })
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        }

        <div class="col-sm-6 no-padding" id="calendar-container">

        </div>
        <div class="table-responsive col-sm-6 no-padding">
            <ol>
                @foreach (var item in Model.Items)
                {
                itemNo++;
                    <li>
                        <div>
                            <strong>@item.EventName</strong>
                        </div>
                        <div>@item.Venue</div>
                        <div>@item.Description</div>
                        <div class="pull-left">
                            <strong><i>@item.StartDate - @item.EndDate</i></strong><br />
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Details", new { item.Id})"><i class="fa fa-edit"></i> Edit</a>
                            @(" | ")
                            <a href="@Url.Action("Delete", new { item.Id})" onclick="return confirm('Do you confirm deleting item no. @(itemNo-1)?')"><i class="fa fa-remove text-crimson"></i> Delete</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

@section scripts{

    <script type="text/javascript">
        helper.controls.MENU_ID_TO_ACTIVATE = "menu-meetings";
    </script>

    <script type="text/javascript">
        var MeetingData=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.MeetingsCalendar));

        $(function () {
            timetableCalendar.initialize(@(Model.Year),@(Model.Month), @DayOfWeek.Sunday.GetEnumAsInt(), "calendar-container",false);
        });
    </script>

    <script type="text/javascript">
        timetableCalendar = {
            //Constants
            CALENDAR_TABLE_ID: "time-table-calendar-table",

            CELL_WEEKDAY_CLASS_PREFIX: "day-of-week-",

            IN_CURRENT_MONTH_CLASS: "in-current-month",

            initialize: function (year, month, startOfWeekIndex, parentContainerId, enableTransferOfCombos) {
                if (year > 2010 && month > 0) {
                    this.constructCalendar(startOfWeekIndex, parentContainerId);
                    this.fillInMonthDays(this.getLastDayOfMonth(year, month - 1), this.getFirstWeekDayOfMonth(year, month - 1));

                    if (enableTransferOfCombos) {
                        this.transplantCombosToCalendar();
                    }

                    this.loadData();
                }
            },

            getLastDayOfMonth: function (year, month) {
                var dayLast = 31;

                for (var i = dayLast; i >= 1; i--) {
                    try {
                        var dat = new Date(year, month, i);
                        if (dat.getDate() == i) {
                            return i;
                        }
                    }
                    catch (e) { }
                }

                return dayLast;
            },

            getFirstWeekDayOfMonth: function (year, month) {
                var day = (new Date(year, month, 1).getDay());

                return day;
            },

            constructCalendar: function (startOfWeekIndex, parentContainerId) {
                var calendarTable = $("<table></table>");
                calendarTable.attr("id", this.CALENDAR_TABLE_ID);
                calendarTable.addClass("table table-bordered table-striped");

                //Construct header
                var header = $("<thead></thead>");
                var headerRow = $("<tr></tr>");

                headerRow.append("<th></th>");

                $(this.getDaysOfWeekNamesOrderedFrom(startOfWeekIndex)).each(function (i, d) {
                    headerRow.append("<th>" + d + "</th>");
                });
                headerRow.find("th").css({
                    "background-color": "#EEE",
                    "text-align": "center"
                });

                header.append(headerRow);
                calendarTable.append(header);

                //construct body
                var body = $("<tbody></tbody>");

                for (var i = 1; i <= 6; i++) {
                    var row = $("<tr></tr>");

                    row.append("<th>Week" + i + "</th>");

                    for (var j = 0; j < 7; j++) {
                        var cell = $("<td></td>");

                        cell.addClass(this.CELL_WEEKDAY_CLASS_PREFIX + ((startOfWeekIndex + j) % 7));

                        row.append(cell);
                    }

                    body.append(row);
                }

                body.find("tr>th:first-of-type").css({
                    "background-color": "#EEE",
                    "border-right-width": "2px",
                    "vertical-align": "middle"
                });

                calendarTable.append(body);

                $("#" + parentContainerId).append(calendarTable);
            },

            daysOfWeek: {
                "Sun": 0,
                "Mon": 1,
                "Tue": 2,
                "Wed": 3,
                "Thu": 4,
                "Fri": 5,
                "Sat": 6,
            },

            //Re-order the days of the week starting with the startOfWeek index
            getDaysOfWeekNamesOrderedFrom: function (startOfWeek) {
                var daysOfWeekList = [];
                var daysOfWeekNames = Object.keys(this.daysOfWeek);

                var loopCounter = startOfWeek;

                while (daysOfWeekList.length < 7) {
                    daysOfWeekList.push(daysOfWeekNames[loopCounter]);
                    loopCounter++;
                    loopCounter %= 7;
                }

                return daysOfWeekList;
            },

            fillInMonthDays: function (noOfDaysInMonth, firstWeekDayOfMonth) {
                var table = $("#" + this.CALENDAR_TABLE_ID);

                var foundFirstDayOfMonth = false;
                var dayCounter = 0;

                table.find("tbody>tr").each(function (i, row) {//for each row
                    $(row).find("td").each(function (j, cell) {//for each cell

                        if (!foundFirstDayOfMonth && $(cell).hasClass(timetableCalendar.CELL_WEEKDAY_CLASS_PREFIX + firstWeekDayOfMonth)) {
                            foundFirstDayOfMonth = true;
                        }

                        if (foundFirstDayOfMonth) {
                            dayCounter++;

                            var contents = $("<div></div>");
                            contents.text(dayCounter);
                            contents.css({
                                "text-align": "right",
                                "font-size": "16px",
                                "margin-bottom": "5px",
                                "color": "#6c6c8f",
                                "font-weight": "bold"
                            });

                            $(cell).append(contents);
                            $(cell).addClass(timetableCalendar.IN_CURRENT_MONTH_CLASS);

                            if (dayCounter >= noOfDaysInMonth) {
                                return false;
                            }
                        }
                    });

                    if (foundFirstDayOfMonth && dayCounter >= noOfDaysInMonth) {
                        return false;
                    }
                });
            },

            transplantCombosToCalendar: function () {
                var allCombos = $(".panel-body select");

                $("#" + this.CALENDAR_TABLE_ID + " td.in-current-month").each(function (i, d) {
                    var div = $("<div></div>");
                    div.append(allCombos[i]);
                    $(d).append(div);
                });

                $(".panel-body").empty();

                //cleanup empty rows
                for (var i = 6; i >= 5; i--) {
                    if ($("#" + this.CALENDAR_TABLE_ID + " tbody>tr:nth-child(" + i + ") select").length == 0) {
                        $("#" + this.CALENDAR_TABLE_ID + " tbody>tr:nth-child(" + i + ")").remove();
                    }
                }
            },

            //Holiday Related Methods
            loadedHolidaysList: [],

            getData: function (Day) {
                var Meetings = "";
                $(MeetingData).each(function (i, d) {
                    if (d.Day == Day) {
                        Meetings = timetableCalendar.getMeetingHtml(d.Meetings);
                        return false;
                    }
                });

                return Meetings;
            },

            getMeetingHtml: function (Meetings) {
                var html = "";

                $(Meetings).each(function (i, d) {
                    var item = "<li class='calendar-item'>"
                        + "<div>" + d.Subject + "</div>"
                        + "<div><i>" + d.Location + "</i></div>"
                        + d.StartDate + " - " + d.EndDate
                        + "</li>";

                    html += item;
                });

                return html;
            },

            loadData: function () {
                //bind days with Meetings
                var cellsInMonth = $("." + timetableCalendar.IN_CURRENT_MONTH_CLASS);

                $(MeetingData).each(function (i, d) {
                    var cell = cellsInMonth.eq(d.Day - 1);

                    if (d.HasMeetings) {
                        cell.css({
                            "background-color": "#fad7a0"
                        });

                        cell.addClass("has-holidays");

                        cell.attr("calendar-day", d.Day);
                    }
                });

                $("." + timetableCalendar.IN_CURRENT_MONTH_CLASS + ".has-holidays").hover(function () {//mouseenter
                    var day = $(this).attr("calendar-day");

                    var div = $("<div></div>");
                    div.append("<b><u>Meetings on " + day + "</u> : </b>");

                    var list = $("<ol></ol>");
                    div.append(list);

                    list.css({
                        "margin-left": "-20px"
                    });

                    list.append(timetableCalendar.getData(day));

                    div.css({
                        "position": "absolute",
                        "background-color": "#FFF",
                        "margin-top": "-50px",
                        "margin-left": "0px",
                        "padding": "5px",
                        "width": "300px",
                        "max-height": "300px",
                        "overflow": "auto",
                        "border": "1px solid #DDD",
                        "border-radius": "4px",
                        "cursor": "default"
                    });

                    div.addClass("holiday-popup");

                    $(this).prepend(div);
                }, function () {//mouseleave
                    $(this).find(".holiday-popup").remove();
                });
            }
        };
    </script>
}

