﻿@model SMaster.Models.Security.ApplicationUser
@{
    ViewBag.Title = (Model.IsNewUser ? "New" : "Edit") + " User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="margin-top-20">
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="fa fa-backward"></i> Back to List</a>
</div>

<h3>@ViewBag.Title</h3>

@Html.ErrorMessageFor(Model)

@using (Html.BeginForm("Details", "SystemUsers", FormMethod.Post, new { autocomplete = "off" }))
{

    <div class="col-sm-4 panel panel-default no-padding margin-right-5">
        <div class="panel-heading">
            <strong>User Details</strong>
        </div>
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.IsNewUser)
            @Html.TextBoxWithLabelFor(m => m.UserName, Model.IsNewUser ? null : new { @readonly = "false" })
            @Html.TextBoxWithLabelFor(m => m.FirstName)
            @Html.TextBoxWithLabelFor(m => m.LastName)
            @Html.TextBoxWithLabelFor(m => m.OtherName)
            @Html.TextBoxWithLabelFor(m => m.Email)
        </div>
    </div>

    <div class="col-sm-4 panel panel-default no-padding">
        <div class="panel-heading">
            <strong>Login Details</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div>
                    <label>Role</label>
                </div>
                <div class="watched-collection" collection-name="Roles">
                    @Html.DropDownList("RoleId", new SelectList(LookupsHelper.GetUserRoles(), "Value", "Key", Model.Roles.Select(r => r.RoleId).FirstOrDefault()), "-N/A-", null)
                </div>
            </div>

            @if (Model.IsNewUser)
            {
                @Html.PasswordWithLabelFor(m => m.Password)
                @Html.PasswordWithLabelFor(m => m.ConfirmPassword)
            }

            @Html.SubmitButton("Save Changes", "pull-right")

        </div>
    </div>
    <div class="clearfix"></div>
}

@section scripts{
    <script type="text/javascript">
        helper.controls.ACTIVE_MENU_ID = "menu-setup";

        $(function () {
            helper.controls.confirmFormSubmission("FirstName");

            $("#RegionId").change(function () {
                smaster.lookups.loadCombo(this, "@Url.Action("Districts", "Lookups")", { RegionId: $(this).val() }, true, ".panel-body");
            });
        });
    </script>
}
