﻿@model SMaster.ViewModels.Lookups.UsersListViewModel
@{
    ViewBag.Title = "System Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RowCount = (Model.Users.PageNumber - 1) * Model.Users.PageSize;
}

<h3>@ViewBag.Title</h3>

<div class="margin-bottom-5">
    <a href="@Url.Action("Details")" class="btn btn-success"><i class="fa fa-plus-square"></i> New User</a>
</div>

<div class="panel panel-default col-sm-6 no-padding margin-top-20" id="accordion">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Click to collapse/expand filters">
        <strong><i class="fa fa-filter"></i> Filters</strong>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "SystemUsers", FormMethod.Get))
            {
                @Html.TextBoxFor(m => m.SearchTerm, new { @placeholder = "Search...", @maxlength = "30", @class = "pull-left margin-right-5" })
                @Html.SubmitButton("Search", "pull-left margin-right-5")
                @Html.ActionLink("Reset Filters", "Index", null, new { @class = "btn btn-info pull-left" })
            }
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-questionnaire">
        <thead>
            <tr>
                <th class="align-right">No.</th>
                <th>UserName</th>
                <th>Full Name</th>
                <th>Role</th>
                <th class="align-center">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td class="align-right">@((++RowCount).ToString("#,##0")).</td>
                    <td>@item.UserName</td>
                    <td>@item.FullName</td>
                    <td>
                        <ul>
                            @foreach (var role in item.Roles)
                            {
                                <li>@role</li>
                            }
                        </ul>
                    </td>
                    <td class="align-center">
                        @Html.ActionLink("Edit", "Details", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model.Users, page => Url.Action("Index", Model.GetRouteValues(page)))
</div>

@section scripts{
    <script type="text/javascript">
        helper.controls.ACTIVE_MENU_ID = "menu-setup";
    </script>
}

