﻿@model SMaster.Models.Sprints.SprintTask

<tr class="watched-collection" collection-name="Tasks">
    <td>
        @Html.HiddenField("Id",Model.Id)
        @Html.HiddenFor(m=>m.SprintPlanId)
        @Html.TextAreaWithoutLabelFor(m => m.Description, new { @style = "max-width:100%; height: 50px !important" })
    </td>
    <td style="display:none;">
        @Html.DatePickerWithoutLabelFor(m => m.StartDate, true)
    </td>
    <td style="display:none;">
        @Html.TextBoxWithoutLabelFor(m => m.PlannedHours, new { @class = "validate-required" })
    </td>
    <td>
        @Html.EnumDropDownListFor(m => m.ExtraActivity)
    </td>

    <td class="align-center">
        <div>
            @Model.Assignees.Count
        </div>
        @foreach (var assignee in Model.Assignees)
        {
            <div class='watched-collection' collection-name='Tasks.Assignees'>
                <input type='hidden' name='UserId' id='UserId' value="@assignee.UserId" />
            </div>
        }
    </td>
    <td class="align-center">
        <a href="javascript:void(0)" onclick="selectAssignees(this)"><i class="fa fa-plus-square" style="color:green"></i> Assign Users</a>
        @(" | ")
        <a href="javascript:void(0)" class="remove-row"><i class="fa fa-remove text-crimson"></i> Delete</a>
    </td>
</tr>
