﻿@model SMaster.Models.Sprints.SprintTaskHistory

<tr id="task-@Model.Id">
    <td style="padding:7px !important">
        @Html.Hidden("ActvityStartYear", Model.Assignee.SprintTask.StartDate?.Year)
        @Html.Hidden("ActvityStartMonth", Model.Assignee.SprintTask.StartDate?.Month -1)
        @Html.Hidden("ActvityStartDay", Model.Assignee.SprintTask.StartDate?.Day)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ActualHours)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.Comment)
        @Html.Hidden("DateToComplete", Model.DateToComplete?.ToString("yyyy-MM-dd") ?? "")
        @Model.Assignee.SprintTask.Description
    </td>
    <td class="align-center">
        @Model.Assignee.SprintTask.PlannedHours
    </td>
    <td class="align-center">
        @(Model.ActivityDate?.ToString("dd MMM yyyy") ?? "")
    </td>
    <td class="align-center">
        @Model.Assignee.User.Initials
    </td>
    <td class="align-center">
        @Model.ActualHours
    </td>
    <td class="align-center" task-state="@(Model.Status.ToString().ToLower())">
        @Html.DisplayFor(m => m.Status)
    </td>
    <td class="DateToComplete">
        @(Model.DateToComplete?.ToString("dd MMM yyyy")??"")
    </td>
    <td>
        @Model.Comment
    </td>
    <td class="align-center">
        @if ((Model.Status == SMaster.Enums.ActivityStatus.Pending && Model.DateToComplete==null) ||(Model.Status == SMaster.Enums.ActivityStatus.Ongoing && Model.DateToComplete == null))
        {
               <a href="javascript:void(0)" onclick="ShowPopUp(this)"><i class="fa fa-edit"></i> Edit</a>
        }
    </td>
</tr>
